<div class="accordion-item" id="now_playing">
  <div class="accordion-header">
    <div class="d-grid gap-2">
      <a class="btn btn-dark accordion-button" type="button" data-bs-toggle="collapse"
         data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
         aria-controls="panelsStayOpen-collapseTwo">
        <h3>{{ txt(gi, glob, 'Now Playing') }}</h3>
      </a>
    </div>
  </div>
  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
    <div class="accordion-body">
      {% if guild.now_playing is not none %}
        {% set renew = guild.now_playing.renew(glob) %}
        <div class="q-div q-history">
          {% if guild.now_playing.radio_info is not none %}
            <div class="q-item0 q-div div-radio3">
              <img loading="lazy" class="q-img" src="{{ guild.now_playing.radio_info['now_picture'] }}" alt="thumbnail">
              <div class="q-item1 q-wd">
                <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer"
                                     href="{{ guild.now_playing.url }}">{{ guild.now_playing.radio_info['title'] }}</a>
                </p>
                <p class="q-text"><a class="q-2" target="_blank" rel="noopener noreferrer"
                                     href="{{ guild.now_playing.channel_link }}">{{ guild.now_playing.radio_info['artist'] }}</a>
                </p>
              </div>
            </div>
          {% endif %}
          <img loading="lazy" class="q-img" src="{{ guild.now_playing.picture }}" alt="thumbnail">
          <div class="q-item1">
            <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer"
                                 href="{{ guild.now_playing.url }}">{{ guild.now_playing.title }}</a></p>
            <p class="q-text"><a class="q-2" target="_blank" rel="noopener noreferrer"
                                 href="{{ guild.now_playing.channel_link }}">{{ guild.now_playing.channel_name }}</a>
            </p>
            <p class="q-text q-3">{{ convert_duration(guild.now_playing.duration) }}</p>
          </div>
          <div class="q-item3 q-items-center">
            <p class="q-text q-1">{{ txt(gi, glob, 'Played at') }}</p>
            <p class="q-text q-2">{{ struct_to_time(guild.now_playing.played_duration[0]['start']['epoch'], first='time') }}</p>
          </div>
          <div class="q-item2 q-items-center">
            <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer"
                                 href="https://discordapp.com/users/{{ guild.now_playing.author }}">{{ get_username(guild.now_playing.author) }}</a>
            </p>
            <p class="q-text q-2">{{ guild.now_playing.author }}</p>
            <p class="q-text q-3">{{ struct_to_time(guild.now_playing.created_at, first='time') }}</p>
          </div>
          <div class="q-item0 q-wa q-self-center q-items-center">
            <form method="POST" action="" onsubmit="onSubmitDisable();">
              <input type="hidden" name="scroll" value="0" id="scrollPos2">
              {% if admin == True %}
                <button class="btn btn-outline btn-primary btn-sm btn-m" type="button" data-bs-toggle="modal"
                        data-bs-target=#videoEditModal_np hx-target="#videoEditModal_np_content" hx-swap="outerHTML"
                        hx-trigger="click once" hx-get="/guild/{{ gi }}/modals?type=now_playing_edit&key={{ key }}"
                >{{ txt(gi, glob, 'Edit') }}</button>
              {% endif %}
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-m" data-bs-toggle="dropdown"
                      aria-expanded="false">{{ txt(gi, glob, 'More') }}</button>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                <li>
                  <button class="dropdown-item" hx-trigger="click throttle:500ms" hx-target="#q-main"
                          hx-swap="outerHTML" hx-get="/guild/{{ gi }}/queue?act=queue_btn&var=np&key={{ key }}"
                  >{{ txt(gi, glob, 'Add to queue') }}</button>
                </li>
                <li>
                  <button class="dropdown-item" hx-trigger="click throttle:500ms" hx-target="#q-main"
                          hx-swap="outerHTML" hx-get="/guild/{{ gi }}/queue?act=nextup_btn&var=np&key={{ key }}"
                  >{{ txt(gi, glob, 'Play next') }}</button>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button class="dropdown-item" type="button" data-bs-toggle="modal"
                          data-bs-target=#videoModal_np hx-target="#videoModal_np_content" hx-swap="outerHTML"
                          hx-trigger="click once" hx-get="/guild/{{ gi }}/modals?act=now_playing&key={{ key }}"
                  >{{ txt(gi, glob, 'Info') }}</button>
                </li>
              </ul>
            </form>
          </div>
        </div>
        <div>
          {% if guild.now_playing.chapters %}
            <div class="p-div-m">
              {% for chapter in guild.now_playing.chapters %}
                <div class="vr"></div>

                <label for="chapter-checkbox{{ chapter['start_time'] }}" class="p-bar p-ch"
                       style="width: {{ ((chapter['end_time'] - chapter['start_time']) / int(guild.now_playing.duration))*100 }}%">
                  <input type="radio" name="chapter-checkbox" id="chapter-checkbox{{ chapter['start_time'] }}">
                  <div class="p-text">
                    <form method="POST" action="" onsubmit="onSubmitDisable();">
                      <input type="hidden" name="scroll" value="0" id="scrollPos13">
                      <div class="ch-div">
                        {{ chapter['title'] }} ({{ convert_duration(chapter['start_time']) }}
                        - {{ convert_duration(chapter['end_time']) }})
                        <button type="submit" class="btn btn-primary btn-sm" name="jump_btn"
                                value={{ chapter['start_time'] }}>{{ txt(gi, glob, 'Jump') }}</button>
                      </div>
                    </form>
                  </div>
                  </input>
                </label>

              {% endfor %}
            </div>
          {% endif %}
          {% if check_isdigit(guild.now_playing.duration) and guild.now_playing.duration not in ['0', 0] %}
            <div class="p-div">
              <div class="p-bar" style="width: {{ (video_time_from_start(guild.now_playing) / int(guild.now_playing.duration))*100 }}%" id="np_progress"></div>
          {% else %}
            <div class="p-div">
              <div class="p-bar" style="width: 100%"></div>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="div-align">
          <p>{{ txt(gi, glob, 'Nothing is playing right now') }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="videoModal_np" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoLabel_np"
         aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl r-modal">
    <div class="modal-content" id="videoModal_np_content"></div>
  </div>
</div>
{% if admin == True %}
<div class="modal fade" id="videoEditModal_np" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="videoEditLabel_np" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg r-modal">
    <div class="modal-content" id="videoEditModal_np_content">
    </div>
  </div>
</div>
{% endif %}