<!-- Queue -->
<div class="q-main" id="q-main">
  {% if guild.queue %}
    {% for track in guild.queue %}
      <div class="q-container q-load" id="queue_{{ guild.queue.index(track) }}"
      hx-target="this" hx-trigger="intersect once" hx-swap="outerHTML"
      hx-get="/guild/{{ gi }}/queue?key={{ key }}&act=queue_video&var={{ guild.queue.index(track) }}">
        <div class="q-item1 text-center">
          <div class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="div-align">
      <p>{{ txt(lang, 'There is nothing in the queue') }}</p>
    </div>
  {% endif %}
</div>