{% if not response.response and resp != 'false' %}
  <div class="alert alert-{{ 'success' if response.response else 'danger' }} div-align alert-dismissible fade show sticky-top" role="alert">
    {{ response.message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<!-- Queue -->
<div class="q-main" id="q-main">
  {% if guild.queue %}
    {% for track in guild.queue %}
      {% include 'main/htmx/queue_video.html' %}
    {% endfor %}
  {% else %}
    <div class="div-align">
      <p>{{ txt(lang, 'There is nothing in the queue') }}</p>
    </div>
  {% endif %}
</div>