<footer class="bd-footer py-4 py-md-5 nav-discord">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-4 mb-2">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
           aria-label="Nicholas The 7th">
          <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 314 337"
               style="margin-right:0.5rem">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                  d="M-0.000,0.000 L59.000,0.000 L190.000,118.000 L190.000,0.000 L244.000,0.000 L244.000,257.000 L190.000,210.000 L190.000,168.000 L55.000,49.000 L55.000,337.000 L-0.000,337.000 L-0.000,0.000 ZM67.000,337.000 L124.000,337.000 L124.000,223.000 L253.000,337.000 L314.000,337.000 L314.000,0.000 L257.000,0.000 L257.000,286.000 L124.000,169.000 L124.000,128.000 L67.000,77.000 L67.000,337.000 Z"></path>
          </svg>
          <span class="fs-5">Nicholas the 7th</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Designed and built by <a href="https://github.com/Tomer27cz" target="_blank" rel="noopener noreferrer">Tomer27cz</a>,
            using open source repositories <a href="https://github.com/Rapptz/discord.py" target="_blank" rel="noopener noreferrer">discord.py</a>, <a
                href="https://github.com/pallets/flask/" target="_blank" rel="noopener noreferrer">flask</a>, <a
                href="https://github.com/yt-dlp/yt-dlp" target="_blank" rel="noopener noreferrer">yt-dlp</a>, <a
                href="https://github.com/alexmercerind/youtube-search-python" target="_blank" rel="noopener noreferrer">youtube-search-python</a>, <a
                href="https://www.crummy.com/software/BeautifulSoup/" target="_blank" rel="noopener noreferrer">bs4</a>, <a
                href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener noreferrer">bootstrap</a>.
          </li>
          <li class="mb-2">Code licensed <a
              href="https://github.com/Tomer27cz/discord_bot_stanley_the_7th/blob/main/LICENSE" target="_blank"
              rel="license noopener">MIT</a></li>
          <li class="mb-2">Currently v7.0</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-2 mb-2">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/guild">Servers</a></li>
          <li class="mb-2"><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-2">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://github.com/Tomer27cz/discord_bot_stanley_the_7th" target="_blank" rel="noopener noreferrer">Nicholas v7.0</a></li>
          <li class="mb-2"><a href="https://github.com/Tomer27cz/discord_bot_stanley_the_6th" target="_blank" rel="noopener noreferrer">Nicholas v6.0</a></li>
          <li class="mb-2"><a href="https://github.com/Tomer27cz/UIDEST" target="_blank" rel="noopener noreferrer">UIDEST</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-2">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://discordapp.com/users/349164237605568513" target="_blank" rel="noopener noreferrer">Discord</a></li>
          <li class="mb-2"><a href="https://github.com/Tomer27cz" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>