<div class="sticky-top">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-discord" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 314 337"
             style="margin-right:0.5rem">
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M-0.000,0.000 L59.000,0.000 L190.000,118.000 L190.000,0.000 L244.000,0.000 L244.000,257.000 L190.000,210.000 L190.000,168.000 L55.000,49.000 L55.000,337.000 L-0.000,337.000 L-0.000,0.000 ZM67.000,337.000 L124.000,337.000 L124.000,223.000 L253.000,337.000 L314.000,337.000 L314.000,0.000 L257.000,0.000 L257.000,286.000 L124.000,169.000 L124.000,128.000 L67.000,77.000 L67.000,337.000 Z"></path>
        </svg>
        Nicholas the 7th
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guild">Servers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          {% block nav_items %}{% endblock %}
        </ul>
        <div class="nav-static-buttons">
          <button onClick="window.location.reload();" class="btn btn-outline-primary">Refresh Data</button>
        </div>
        <div>
          {% if user %}
            <a class="user-color">{{ user['username'] }}</a>
            {% if user['avatar'] != None %}
              <img src="https://cdn.discordapp.com/avatars/{{ user['id'] }}/{{ user['avatar'] }}.png?size=32"
                   class="rounded-circle" alt="avatar">
            {% endif %}
            {% if int(user['id']) in auth %}
              <a class="btn btn-outline-primary btn-sm btn-m" href="/admin">Admin Panel</a>
            {% endif %}
            <a class="btn btn-danger" href="/logout">Logout</a>
            <a class="btn btn-outline-success btn-sm btn-m" href="/login">Update Session</a>
          {% else %}
            <a class="btn btn-primary" href="/login">Login</a>
          {% endif %}
          <a class="btn btn-outline-danger btn-sm btn-m" href="/reset">Reset Session</a>
        </div>
      </div>
    </div>
  </nav>
  {% block nav %}{% endblock %}
</div>