discord.py
dnspython
PyNaCl
async-timeout
asyncio
requests
beautifulsoup4
lxml
yt_dlp
asgiref
flask
spotipy
soundcloud-lib
werkzeug
emoji
aiohttp
grapheme
pytz
uWSGI
SQLAlchemy
alembic
xmltodict
flask-sqlalchemy
flask-socketio
eventlet
python-dotenv
py-cpuinfo
psutil