<div class="modal-content" id="videoModal_{{ guild.queue.index(track) }}_content">
  <div class="modal-header">
    <h1 class="modal-title fs-5"
        id="videoLabel_{{ guild.queue.index(track) }}">{{ txt(session['lang'], 'Video') }} {{ guild.queue.index(track) }} {{ txt(session['lang'], 'Info') }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="info-modal">
    <br>
    <p>index: <span class="v-info">{{ guild.queue.index(track) }}</span></p>
    {% for key, value in track.__dict__.items() %}
      <p class="{% if len(str(value)) > 300 %}collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#q{{ guild.queue.index(track) }}_{{ key }}" aria-expanded="{% if len(str(value)) > 300 %}false{% else %}true{% endif %}" aria-controls="q{{ guild.queue.index(track) }}_{{ key }}">{{ key }}: <span class="v-info collapse multi-collapse {% if not len(str(value)) > 300 %}show{% endif %}" id="q{{ guild.queue.index(track) }}_{{ key }}">{{ value }}</span></p>
    {% endfor %}
    <br>
  </div>
</div>