<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" sizes="any">
  <title>Nicholas the 7th | {{ title }}</title>
  <script>
      if (window.history.replaceState) {
          window.history.replaceState(null, null, null);
      }
      function onSubmitDisable() {
      setTimeout(disableButtons, 10);

      function disableButtons() {
          console.log("disable single")
          let buttons = document.querySelectorAll(".btn");
          for (let i = 0; i < buttons.length; i++) {
              buttons[i].setAttribute('disabled', '');
          }
      }
  }
  </script>
  {% endblock %}
</head>
<body>
<div style="display: none">
    document.addEventListener("DOMContentLoaded", function (event) {
          let scroll_pos = localStorage.getItem('scrollpos');
          if (scroll_pos) window.scrollTo({top: Number(scroll_pos), behavior: 'smooth'});
      });
      window.onbeforeunload = function (e) {
          localStorage.setItem('scrollpos', window.scrollY);
      };
  </div>
<div class="sticky-top">
  {% include 'base/base/navbar.html' %}
  {% block nav %}{% endblock %}
</div>
{% block content %}{% endblock %}
{% include 'base/base/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>