<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" sizes="any">
  <title>Nicholas the 7th | {{ title }}</title>
  {% endblock %}
</head>
<body>
{% include 'base/base/navbar_lite.html' %}
  <div class="div-align-center">
    <div class="div-login">
      <h1>{{ message }}</h1>
      {% if message2 %}
        <h2>{{ message2 }}</h2>
      {% endif %}
      {% if message3 %}
        <h3>{{ message3 }}</h3>
      {% endif %}
      {% if message4 %}
        <h4>{{ message4 }}</h4>
      {% endif %}
      {% if message5 %}
        <h5>{{ message5 }}</h5>
      {% endif %}
      {% if message6 %}
        <h6>{{ message6 }}</h6>
      {% endif %}
      <a class="btn btn-secondary btn-lg" href="/">Return Home</a>
      <a class="btn btn-primary btn-lg" href="/guild">Servers</a>
    </div>
  </div>
{% include 'base/base/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>