{% extends "base/base.html" %}

{% set title = title %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}


  <div class="div-align-center">
    <div class="div-login">
      <h1>{{message}}</h1>
      {% if message2 %}
        <h2>{{message2}}</h2>
      {% endif %}
      {% if message3 %}
        <h3>{{message3}}</h3>
      {% endif %}
      {% if message4 %}
        <h4>{{message4}}</h4>
      {% endif %}
      {% if message5 %}
        <h5>{{message5}}</h5>
      {% endif %}
      {% if message6 %}
        <h6>{{message6}}</h6>
      {% endif %}
      <a class="btn btn-secondary btn-lg" href="/">Return Home</a>
      <a class="btn btn-primary btn-lg" href="/guild">Servers</a>
    </div>
  </div>

{% endblock %}