{% extends "base/base.html" %}

{% set title = 'Control Panel' %}

{% block head %}{{super()}}
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
{% endblock %}

{% block nav %}

  {% if not guild.connected %}
    <div class="alert alert-warning div-align fade show sticky-top" role="alert">
      {{ txt(lang, 'Bot is not connected to this guild -> Disabled') }}
    </div>
  {% endif %}

  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}


{% block content %}
  <!-- Guild -->
  <div>
    <div class="div-align margin-bottom-1">
      <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item">
          <div class="accordion-header div-options">
            <button class="btn btn-dark btn-options" data-bs-toggle="modal" data-bs-target="#optionsModal"
                    title="{{ txt(lang, 'Server Options') }}" hx-target="#optionsModal_content" hx-swap="outerHTML" hx-trigger="click once"
            hx-get="/guild/{{ gi }}/modals?type=optionsModal&key={{ key }}" hx-indicator="#optionsModal_spinner">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M14 7V9C14 9 12.5867 9 12.5733 9.00667C12.42 9.58667 12.1733 10.1267 11.84 10.6067L12.74 11.5067L11.4933 12.7533L10.5933 11.8533C10.1133 12.1867 9.57334 12.44 8.99334 12.5867V14H6.99334V12.58C6.41334 12.4333 5.87334 12.18 5.39334 11.8467L4.49333 12.7467L3.24667 11.5L4.14667 10.6C3.81333 10.1267 3.56 9.58 3.41333 9H2V7H3.41333C3.56 6.42 3.81333 5.88 4.14667 5.4L3.24667 4.5L4.5 3.24667L5.4 4.14667C5.87334 3.81333 6.42 3.56 7 3.41333V2H9V3.41333C9.58 3.56667 10.12 3.81333 10.6 4.14667L11.5067 3.25333L12.7533 4.5L11.8533 5.4C12.1867 5.87334 12.44 6.42 12.5867 7H14ZM8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"></path>
              </svg>
            </button>
            <div class="d-grid gap-2">
              <a class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                 aria-expanded="false" aria-controls="flush-collapseOne">
                <h2>{{ guild.data.name }}</h2>
              </a>
            </div>
          </div>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="q-container">
              <div class="q-div">
                {% if guild.data.icon is not none %}
                  <img loading="lazy" class="q-img" src="{{ guild.data.icon }}" alt="thumbnail">
                {% else %}
                  None
                {% endif %}
                <div class="q-item1 q-wa">
                  <p class="q-text q-1">{{ txt(lang, 'Member Count') }}</p>
                  <p class="q-text q-2">{{ guild.data.member_count }}</p>
                </div>
                <div class="q-item1 q-wa">
                  <p class="q-text q-1">ID</p>
                  <p class="q-text q-2">{{ guild.data.id }}</p>
                </div>
                <div class="q-item1 q-items-center">
                  <p class="q-text q-1">{{ txt(lang, 'Server Owner') }}</p>
                  <p class="q-text q-2"><a class="q-2" target="_blank" rel="noopener noreferrer"
                                           href="https://discordapp.com/users/{{ guild.data.owner_id }}">{{ guild.data.owner_name }}</a>
                  </p>
                  <p class="q-text q-3">{{ guild.data.owner_id }}</p>
                </div>
                <div class="q-item1 q-wa">
                  <p class="q-text q-1">{{ txt(lang, 'Created at') }}</p>
                  <p class="q-text q-2">{{ struct_to_time(guild.data.created_at) }}</p>
                </div>
                <div class="q-item1 q-wa">
                  <p class="q-text q-1">{{ txt(lang, 'Description') }}</p>
                  <p class="q-text q-2">{{ guild.data.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Now and History -->
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item" id="history">
      <div class="accordion-header">
        <div class="d-grid gap-2">
          <a class="btn btn-dark accordion-button collapsed" type="button" data-bs-toggle="collapse"
             data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
             aria-controls="panelsStayOpen-collapseOne"
              hx-target="#h-main" hx-swap="outerHTML" hx-trigger="click once"
              hx-get="/guild/{{gi}}/history?key={{key}}">
            <h3>{{ txt(lang, 'History') }}</h3>
            <div class="q-item1 text-center">
              <div class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div>
            </div>
          </a>
        </div>
      </div>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body" id="h-main"></div>
      </div>
    </div>
    {% include 'main/htmx/now_playing.html' %}
  </div>

  <!-- Control -->
  <form action="" method="POST" onsubmit="onSubmitDisable();">
    <input type="hidden" name="scroll" value="0" id="scrollPos3">
    <div class="q-div div-con">
      <div class="q-item0 div-align-center">
        <h4>
          {% if guild.now_playing %}
            <span id="progress_time">{{ convert_duration(video_time_from_start(guild.now_playing)) }}</span>
            / {{ convert_duration(guild.now_playing.duration) }}
          {% else %}
            0:00 / 0:00
          {% endif %}
        </h4>
      </div>
      <div class="q-item1">
        <div class="e-div">
          <button class="btn btn-dark e-item1" type="submit" name="play_btn" title="{{ txt(lang, 'Play') }}"
                  {% if not guild.connected %}disabled{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0d6efd" viewBox="0 0 384 512">
              <path
                  d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"></path>
            </svg>
          </button>
          <button class="btn btn-dark e-item1" type="submit" name="skip_btn" title="{{ txt(lang, 'Skip') }}"
                  {% if not guild.connected %}disabled{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 512 512">
              <path
                  d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z"></path>
            </svg>
          </button>
          <button class="btn btn-dark e-item1" type="submit" name="pause_btn" title="{{ txt(lang, 'Pause') }}"
                  {% if not guild.connected %}disabled{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 320 512">
              <path
                  d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"></path>
            </svg>
          </button>
          <button class="btn btn-dark e-item1" type="submit" name="stop_btn" title="{{ txt(lang, 'Stop') }}"
                  {% if not guild.connected %}disabled{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#dc3545" viewBox="0 0 384 512">
              <path
                  d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="q-item1 d-control"><p class="{{ 'd-g' if bot_status in ['Connected', 'Playing'] }}{{ 'd-r' if bot_status in ['Not connected'] }}{{ 'd-y' if bot_status in ['Unknown', 'Paused'] }} d-status">{{ txt(lang, bot_status) }}</p></div>
      <div class="q-item1">
        <div class="e-div">
          <button class="btn btn-dark e-item1" type="button" data-bs-toggle="modal" data-bs-target="#joinModal"
                  title="{{ txt(lang, 'Join Channel') }}" {% if not guild.connected %}disabled{% endif %}
                  hx-trigger="click once" hx-target="#joinModal_content" hx-swap="outerHTML"
                  hx-get="/guild/{{ gi }}/modals?type=joinModal&key={{ key }}" hx-indicator="#joinModal_spinner">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#198754" viewBox="0 0 16 16">
              <path d="M14 2H16V3H14V5H13V3H11V2H13V0H14V2Z"></path>
              <path
                  d="M6.5 8.00667C7.88 8.00667 9 6.88667 9 5.50667C9 4.12667 7.88 3.00667 6.5 3.00667C5.12 3.00667 4 4.12667 4 5.50667C4 6.88667 5.12 8.00667 6.5 8.00667Z"></path>
              <path d="M6.5 8.34C3.26 8.34 1 9.98666 1 12.34V13.0067H12V12.34C12 9.98 9.74 8.34 6.5 8.34Z"></path>
            </svg>
          </button>
          <button class="btn btn-dark e-item1" type="submit" name="disconnect_btn" title="{{ txt(lang, 'Disconnect') }}"
                  {% if not guild.connected %}disabled{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#dc3545" viewBox="0 0 24 24">
              <path
                  d="M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z"></path>
            </svg>
          </button>
        </div>
      </div>
      {% if admin == True %}
        <div class="d-flex">
          <div class="btn-m">
            <input style="width: 5rem" type="number" class="form-c form-control btn-m" name="timeInput" min="0" max="{{ guild.now_playing.duration }}" value="0" {% if not guild.connected %}disabled{% endif %}>
          </div>
          <button class="btn btn-outline btn-primary btn-sm btn-m" type="submit" name="time_btn" title="{{ txt(lang, 'Set Time') }}" {% if not guild.connected %}disabled{% endif %}>Set</button>

        </div>
        <div class="vr btm-m"></div>
      {% endif %}
      <div class="q-item1">
        <div class="d-flex">
          <div class="btn-m">
            <input type="number" class="form-c form-control btn-m flex-fill" name="volumeInput" min="0" max="200"
                   value="{{ int(guild.options.volume*100) }}" oninput="this.form.volumeRange.value=this.value"
                   {% if not guild.connected %}disabled{% endif %}>
          </div>
          <input type="range" class="form-r form-range btn-m" name="volumeRange" min="0" max="200" value="{{ int(guild.options.volume*100) }}"
                 oninput="this.form.volumeInput.value=this.value" {% if not guild.connected %}disabled{% endif %}>
          <button class="btn btn-outline btn-primary btn-sm btn-m flex-fill" type="submit" name="volume_btn"
                  title="{{ txt(lang, 'Set Volume') }}" {% if not guild.connected %}disabled{% endif %}>Set
          </button>
        </div>
      </div>
    </div>
  </form>

  <!-- Queue -->
  <div class="q-top">
    <div class="q-item1 l-div gap1">
      <h3>{{ txt(lang, 'Queue') }}</h3>
      <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#saveModal" title="{{ txt(lang, 'Save Queue') }}"
         hx-target="#saveModal_content" hx-swap="outerHTML" hx-trigger="click once"
         hx-get="/guild/{{gi}}/modals?type=saveModal&key={{ key }}" hx-indicator="#saveModal_spinner">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
        </svg>
      </a>
      <a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loadModal" title="{{ txt(lang, 'Load Queue') }}"
         hx-target="#loadModal_content" hx-swap="outerHTML" hx-trigger="click once"
         hx-get="/guild/{{gi}}/modals?type=loadModal&key={{ key }}" hx-indicator="#loadModal_spinner">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
          <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"></path>
        </svg>
      </a>
      {% if admin %}
        <a class="btn btn-primary" href="/admin/guild/{{ gi }}/saves">{{ txt(lang, 'Edit') }}</a>
      {% endif %}
    </div>
    <a class="q-top-add btn btn-dark" data-bs-toggle="modal" data-bs-target="#queue1Modal"
       hx-get="/guild/{{ gi }}/modals?type=queue1Modal&key={{ key }}"
       hx-trigger="click once" hx-target="#queue1Modal_content" hx-swap="outerHTML"
       title="{{ txt(lang, 'Add to queue') }}" hx-indicator="#queue1Modal_spinner">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-lg"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
      </svg>
    </a>
    {% include 'main/htmx/single/loop.html' %}
    <button class="btn btn-dark" title="{{ txt(lang, 'Shuffle') }}" hx-target="#q-main" hx-swap="outerHTML"
            hx-trigger="click throttle:500ms" hx-get="/guild/{{gi}}/queue?act=shuffle_btn&key={{key}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-shuffle"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"></path>
        <path
            d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"></path>
      </svg>
    </button>
    <button class="btn btn-dark" title="{{ txt(lang, 'Clear') }}" hx-target="#q-main" hx-swap="outerHTML"
            hx-trigger="click throttle:500ms" hx-get="/guild/{{gi}}/queue?act=clear_btn&key={{key}}" hx-confirm="{{ txt(lang, 'Are you sure?') }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#dc3545" class="bi bi-trash"
           viewBox="0 0 16 16">
        <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
        <path
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
      </svg>
    </button>
  </div>
  {% include "main/htmx/queue_dynamic.html" %}

  <!-- Modals -->
  <!-- Queue1 -->
  <div class="modal fade" id="queue1Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="queue1Modal_content" hx-get="/guild/{{ gi }}/modals?type=queue1Modal&key={{ key }}"
       hx-trigger="intersect once" hx-target="#queue1Modal_content" hx-swap="outerHTML" hx-indicator="#queue1Modal_spinner">
        <div class="text-center"><div id="queue1Modal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Queue2 -->
  <div class="modal fade" id="queue2Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="queue2Modal_content" hx-get="/guild/{{ gi }}/modals?type=queue2Modal&key={{ key }}"
       hx-trigger="intersect once" hx-target="#queue2Modal_content" hx-swap="outerHTML" hx-indicator="#queue2Modal_spinner">
        <div class="text-center"><div id="queue2Modal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Queue3 -->
  <div class="modal fade" id="queue3Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="queue3Modal_content" hx-get="/guild/{{ gi }}/modals?type=queue3Modal&key={{ key }}"
       hx-trigger="intersect once" hx-target="#queue3Modal_content" hx-swap="outerHTML" hx-indicator="#queue3Modal_spinner">
        <div class="text-center"><div id="queue3Modal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Queue4 -->
  <div class="modal fade" id="queue4Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="queue4Modal_content" hx-get="/guild/{{ gi }}/modals?type=queue4Modal&key={{ key }}"
       hx-trigger="intersect once" hx-target="#queue4Modal_content" hx-swap="outerHTML" hx-indicator="#queue4Modal_spinner">
        <div class="text-center"><div id="queue4Modal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Queue5 -->
  <div class="modal fade" id="queue5Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="queue5Modal_content" hx-get="/guild/{{ gi }}/modals?type=queue5Modal&key={{ key }}"
       hx-trigger="intersect once" hx-target="#queue5Modal_content" hx-swap="outerHTML" hx-indicator="#queue5Modal_spinner">
        <div class="text-center"><div id="queue5Modal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Join -->
  <div class="modal fade" id="joinModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="joinLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="joinModal_content">
        <div class="text-center"><div id="joinModal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Load -->
  <div class="modal fade" id="loadModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loadLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="loadModal_content">
        <div class="text-center"><div id="loadModal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Options -->
  <div class="modal fade" id="optionsModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="optionsLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg r-modal">
      <div class="modal-content" id="optionsModal_content">
        <div class="text-center"><div id="optionsModal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>
  <!-- Save -->
  <div class="modal fade" id="saveModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="saveLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" id="saveModal_content">
        <div class="text-center"><div id="saveModal_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
      </div>
    </div>
  </div>

  {% if guild.now_playing %}
    <script>
      let duration = {{ npd | safe }};
      let played_duration = {{ pd | safe }};
    </script>
  {% else %}
    <script>
      let duration = null;
      let played_duration = null;
    </script>
  {% endif %}

  <script>
  let guild_id = '{{ gi }}';
  let key = '{{ key }}';
  let last_updated = {{ last_updated | safe }};
  let scroll_position = '{{ scroll_position }}';
  </script>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/guild.js') }}"></script>

{% endblock %}