{% extends "base/base.html" %}

{% block head %}<title>Login</title>{% endblock %}

{% block content %}
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger div-align" role="alert">
            {{error}}
        </div>
    {% endfor %}
{% endif %}


<div class="div-align-center">
    <div class="div-login">
        <h1>You have to log in or enter a code</h1>
        <div class="d-grid gap-2 d-md-block">
            <a type="button" class="btn btn-primary btn-lg" name="login" href="/login">Login</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary btn-lg">Enter Code</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="#" method="post">
          <div class="modal-body">
              <input type="text" class="form-control" name="key" placeholder="Enter Code">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-lg" name="code_submit">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}