<div class="modal-content" id="addToModal_content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ text(gi, glob, 'Add to queue') }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="ytURL" class="btn-m">URL</label>
      <input type="text" class="form-control" name="ytURL" id="ytURL" required>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{{ text(gi, glob, 'Close') }}</button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
            data-bs-target="#addToModalRadio" hx-target="#addToModalRadio_content" hx-trigger="click once"
            hx-swap="outerHTML" hx-get="/guild/{{ gi }}/modals?type=addToModalRadio&key={{ key }}"
    >{{ text(gi, glob, 'Radio') }}</button>
    <button type="submit" class="btn btn-primary" id="addToModal_submit"
            hx-trigger="click throttle:1s" hx-target="#q-main" hx-swap="outerHTML"
            hx-get="/guild/{{ gi }}/queue?act=ytURL&key={{ key }}" hx-include="#ytURL" hx-validate="#ytForm"
    >{{ text(gi, glob, 'Add') }}</button>
    <script>
      document.body.addEventListener('htmx:afterSwap', function (event) {
        if (event.detail.elt.id === "addToModal_submit") {
          document.getElementById('addToModal').modal('hide');
        }
      });
    </script>
  </div>
</div>