{% extends "base/base.html" %}

{% set title = 'Control Panel' %}

{% block content %}

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}


<!-- Guild -->
<div>
    <div class="div-align">
        <div class="accordion" id="accordionFlushExample">
          <div class="accordion-item">
            <div class="accordion-header">
                <div class="d-grid gap-2">
                    <a class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>{{guild.data.name}}</h2>
                    </a>
                </div>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="q-container">
                    <div class="q-div">
                        {% if guild.data.icon is not none %}
                        <img loading="lazy" class="q-img" src="{{guild.data.icon}}" alt="thumbnail">
                        {% else %}
                        None
                        {% endif %}
                        <div class="q-item1 q-wa">
                            <p class="q-text q-1">Member Count</p>
                            <p class="q-text q-2">{{guild.data.member_count}}</p>
                        </div>
                        <div class="q-item1 q-wa">
                            <p class="q-text q-1">ID</p>
                            <p class="q-text q-2">{{guild.data.id}}</p>
                        </div>
                        <div class="q-item1 q-items-center">
                            <p class="q-text q-1">Server Owner</p>
                            <p class="q-text q-2"><a class="q-2" target="_blank" rel="noopener noreferrer" href="https://discordapp.com/users/{{guild.data.owner_id}}">{{guild.data.owner_name}}</a></p>
                            <p class="q-text q-3">{{guild.data.owner_id}}</p>
                        </div>
                        <div class="q-item1 q-wa">
                            <p class="q-text q-1">Created at</p>
                            <p class="q-text q-2">{{struct_to_time(guild.data.created_at)}}</p>
                        </div>
                        <div class="q-item1 q-wa">
                            <p class="q-text q-1">Description</p>
                            <p class="q-text q-2">{{guild.data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Now and Last Playing -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="d-grid gap-2">
          <a class="btn btn-dark accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <h3>History</h3>
          </a>
        </div>
      </div>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
            {% if guild.history %}
              {% for track in guild.history %}
                  <div class="q-div q-history">
                      <img loading="lazy" class="q-img" src="{{track.picture}}" alt="thumbnail">
                      <div class="q-item1 q-wd">
                          <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="{{track.url}}">{{track.title}}</a></p>
                          <p class="q-text"><a class="q-2" target="_blank" rel="noopener noreferrer" href="{{track.channel_link}}">{{track.channel_name}}</a></p>
                          <p class="q-text q-3">{{convert_duration(track.duration)}}</p>
                      </div>
                      <div class="q-item3 q-items-center">
                          <p class="q-text q-1">From/To</p>
                          <p class="q-text q-2">{{struct_to_time(track.played_at, first='time')}}</p>
                          <p class="q-text q-2">{{struct_to_time(track.stopped_at, first='time')}}</p>
                      </div>
                      <div class="q-item2 q-items-center">
                          <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="https://discordapp.com/users/{{track.author}}">{{get_username(track.author)}}</a></p>
                          <p class="q-text q-2">{{track.author}}</p>
                          <p class="q-text q-3">{{struct_to_time(track.created_at, first='time')}}</p>
                      </div>
                      <div class="q-item0 q-wa q-self-center q-items-center">
                          <form method="POST" action="" onsubmit="setScroll();">
                              <input type="hidden" name="scroll" value="0" id="scrollPos1">
                              {% if admin == True %}
                              <button class="btn btn-outline btn-primary btn-sm btn-m" type="button" data-bs-toggle="modal" data-bs-target=#videoEditModal_h{{guild.history.index(track)}}>Edit</button>
                              <button class="btn btn-outline btn-danger btn-sm btn-m" type="submit" value="h{{guild.history.index(track)}}" name="hdel_btn">Remove</button>
                              {% endif %}
                              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-m" data-bs-toggle="dropdown" aria-expanded="false">More</button>
                              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                  <li><button class="dropdown-item" type="submit" name="queue_btn" value="h{{guild.history.index(track)}}">Add to Queue</button></li>
                                  <li><button class="dropdown-item" type="submit" name="nextup_btn" value="h{{guild.history.index(track)}}">Play next</button></li>
                                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target=#videoModal_h{{guild.history.index(track)}}>Info</button></li>
                              </ul>
                          </form>
                      </div>
                  </div>
              {% endfor %}
            {% else %}
            <div class="div-align">
                <p>Nothing has been played yet</p>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="d-grid gap-2">
          <a class="btn btn-dark accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h3>Now Playing</h3>
          </a>
        </div>
      </div>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
              {% if guild.now_playing is not none %}
              {{guild.now_playing.renew()}}
              <div class="q-div q-history">
                  <img loading="lazy" class="q-img" src="{{guild.now_playing.picture}}" alt="thumbnail">
                  <div class="q-item1 q-wd">
                      <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="{{guild.now_playing.url}}">{{guild.now_playing.title}}</a></p>
                      <p class="q-text"><a class="q-2" target="_blank" rel="noopener noreferrer" href="{{guild.now_playing.channel_link}}">{{guild.now_playing.channel_name}}</a></p>
                      <p class="q-text q-3">{{convert_duration(guild.now_playing.duration)}}</p>
                  </div>
                  <div class="q-item3 q-items-center">
                      <p class="q-text q-1">Played at</p>
                      <p class="q-text q-2">{{struct_to_time(guild.now_playing.played_at, first='time')}}</p>
                  </div>
                  <div class="q-item2 q-items-center">
                      <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="https://discordapp.com/users/{{guild.now_playing.author}}">{{get_username(guild.now_playing.author)}}</a></p>
                      <p class="q-text q-2">{{guild.now_playing.author}}</p>
                      <p class="q-text q-3">{{struct_to_time(guild.now_playing.created_at, first='time')}}</p>
                  </div>
                  <div class="q-item0 q-wa q-self-center q-items-center">
                      <form method="POST" action="" onsubmit="setScroll();">
                          <input type="hidden" name="scroll" value="0" id="scrollPos2">
                          {% if admin == True %}
                          <button class="btn btn-outline btn-primary btn-sm btn-m" type="button" data-bs-toggle="modal" data-bs-target=#videoEditModal_np>Edit</button>
                          {% endif %}
                          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-m" data-bs-toggle="dropdown" aria-expanded="false">More</button>
                          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                              <li><button class="dropdown-item" type="submit" name="queue_btn" value="np">Add to Queue</button></li>
                              <li><button class="dropdown-item" type="submit" name="nextup_btn" value="np">Play next</button></li>
                              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target=#videoModal_np>Info</button></li>
                          </ul>
                      </form>
                  </div>
                </div>
              {% else %}
              <div class="div-align">
                  <p>Nothing is playing right now</p>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</div>

<!-- Control -->
<form action="" method="POST" onsubmit="setScroll();">
    <input type="hidden" name="scroll" value="0" id="scrollPos3">
  <div class="q-div">
    <div class="q-item1 div-login">
      <div class="e-div">
          <button class="btn btn-outline btn-primary btn-sm btn-m e-item1" type="submit" name="skip_btn">Skip</button>
          <button class="btn btn-outline btn-secondary btn-sm btn-m e-item1" type="submit" name="shuffle_btn">Shuffle</button>
          <button class="btn btn-outline btn-danger btn-sm btn-m e-item1" type="submit" name="clear_btn">Clear</button>
      </div>
    </div>
    <div class="q-item1 div-login">
      <div class="e-div">
          <button class="btn btn-outline btn-primary btn-sm btn-m e-item1" type="button" data-bs-toggle="modal" data-bs-target="#joinModal">Join</button>
          <button class="btn btn-outline btn-danger btn-sm btn-m e-item1" type="submit" name="disconnect_btn">Disconnect</button>
      </div>
    </div>
    <div class="q-item1 div-login">
      <div class="e-div">
          <button class="btn btn-outline btn-primary btn-sm btn-m e-item1" type="submit" name="play_btn">Play</button>
          <button class="btn btn-outline btn-secondary btn-sm btn-m e-item1" type="submit" name="pause_btn">Pause</button>
          <button class="btn btn-outline btn-secondary btn-sm btn-m e-item1" type="submit" name="resume_btn">Resume</button>
          <button class="btn btn-outline btn-danger btn-sm btn-m e-item1" type="submit" name="stop_btn">Stop</button>
      </div>
    </div>
    <div class="q-item1 div-login">
      <div class="d-flex">
          <div class="btn-m">
              <input type="number" class="form-c form-control btn-m flex-fill" name="volumeInput" min="0" max="200" value="100" oninput="this.form.volumeRange.value=this.value">
          </div>
          <input type="range" class="form-r form-range btn-m" name="volumeRange" min="0" max="200" value="100" oninput="this.form.volumeInput.value=this.value">
          <button class="btn btn-outline btn-primary btn-sm btn-m flex-fill" type="submit" name="volume_btn">Set</button>
      </div>
    </div>
  </div>
</form>

<!-- Queue -->
<div class="div-align">
    <h2>Queue</h2>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary btn-lg btn-q" data-bs-toggle="modal" data-bs-target="#addToModal">
        Add to Queue
    </button>
</div>

<form method="POST" action="" onsubmit="setScroll();">
    <input type="hidden" name="scroll" value="0" id="scrollPos4">
    {% for track in guild.queue %}
        <div class="q-container">
            <div class="q-div">
                <img loading="lazy" class="q-img" src="{{track.picture}}" alt="thumbnail">
                <div class="q-item1 q-wd">
                    <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="{{track.url}}">{{track.title}}</a></p>
                    <p class="q-text"><a class="q-2" target="_blank" rel="noopener noreferrer" href="{{track.channel_link}}">{{track.channel_name}}</a></p>
                    <p class="q-text q-3">{{convert_duration(track.duration)}}</p>
                </div>
                <div class="q-item2 q-items-center">
                    <p class="q-text"><a class="q-1" target="_blank" rel="noopener noreferrer" href="https://discordapp.com/users/{{track.author}}">{{get_username(track.author)}}</a></p>
                    <p class="q-text q-2">{{track.author}}</p>
                    <p class="q-text q-3">{{struct_to_time(track.created_at, first='time')}}</p>
                </div>
                <div class="q-item0 q-wa q-self-center q-items-center">
                    {% if admin == True %}
                    <button class="btn btn-outline btn-primary btn-sm btn-m" type="button" data-bs-toggle="modal" data-bs-target=#videoEditModal_{{guild.queue.index(track)}}>Edit</button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-m" data-bs-toggle="dropdown" aria-expanded="false">More</button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><button class="dropdown-item" type="submit" name="top_btn" value={{guild.queue.index(track)}}>Move to Top</button></li>
                        <li><button class="dropdown-item" type="submit" name="bottom_btn" value={{guild.queue.index(track)}}>Move to Bottom</button></li>
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target=#videoModal_{{guild.queue.index(track)}}>Info</button></li>
                    </ul>
                    <button class="btn btn-outline btn-danger btn-sm btn-m" type="submit" name="del_btn" value="{{guild.queue.index(track)}}">Remove</button>
                </div>
            </div>
            <div class="q-item0 q-wa q-self-center q-items-center">
                <div class="btn-group-vertical">
                    <button class="btn btn-dark" name="up_btn" value={{guild.queue.index(track)}}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-dark" name="down_btn" value={{guild.queue.index(track)}}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
</form>

<!-- Video Modals -->
{% for track in guild.queue %}
<div class="modal fade" id="videoModal_{{guild.queue.index(track)}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoLabel_{{guild.queue.index(track)}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoLabel_{{guild.queue.index(track)}}">Video {{guild.queue.index(track)}} Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="info-modal">
                <br>
                <p>index: <span class="v-info">{{guild.queue.index(track)}}</span></p>
                {% for key, value in track.__dict__.items() %}
                    <p>{{key}}: <span class="v-info">{{value}}</span></p>
                {% endfor %}
                <br>
            </div>
        </div>
      </div>
    </div>
{% endfor %}

<!-- Video History Modals -->
{% for track in guild.history %}
<div class="modal fade" id="videoModal_h{{guild.history.index(track)}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoLabel_h{{guild.history.index(track)}}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoLabel_h{{guild.history.index(track)}}">Video History {{guild.history.index(track)}} Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="info-modal">
                <br>
                <p>index: <span class="v-info">{{guild.history.index(track)}}</span></p>
                {% for key, value in track.__dict__.items() %}
                    <p>{{key}}: <span class="v-info">{{value}}</span></p>
                {% endfor %}
                <br>
            </div>
        </div>
      </div>
    </div>
{% endfor %}

<!--Now Playing Modal-->
{% if guild.now_playing %}
<div class="modal fade" id="videoModal_np" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoLabel_np" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="videoLabel_np">Video Now Playing Info</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="info-modal">
            <br>
            {% for key, value in guild.now_playing.__dict__.items() %}
                <p>{{key}}: <span class="v-info">{{value}}</span></p>
            {% endfor %}
            <br>
        </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Video Edit Modals -->
{% if admin == True %}
    {% for track in guild.queue %}
        <div class="modal fade" id="videoEditModal_{{guild.queue.index(track)}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoEditLabel_{{guild.queue.index(track)}}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="videoEditLabel_{{guild.queue.index(track)}}">Video {{guild.queue.index(track)}} Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="info-modal">
                    <br>
                    <form method="POST" onsubmit="setScroll();">
                        <input type="hidden" name="scroll" value="0" id="scrollPos5">
                    {% for key, value in track.__dict__.items() %}
                        <div class="e-div">
                            <label for="{{guild.queue.index(track)}}_{{key}}" class="e-label">{{key}}</label>
                            <input type="text" id="{{guild.queue.index(track)}}_{{key}}" name="{{key}}" value="{{value}}" class="e-input">
                        </div>
                    {% endfor %}
                        <div class="e-div">
                            <button class="btn e-item1 btn-secondary btn-lg btn-m" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            <button class="btn e-item1 btn-primary btn-lg btn-m" type="submit" name="edit_btn" value="{{guild.queue.index(track)}}">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% for track in guild.history %}
        <div class="modal fade" id="videoEditModal_h{{guild.history.index(track)}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoEditLabel_h{{guild.history.index(track)}}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="videoEditLabel{{guild.history.index(track)}}">Video History {{guild.history.index(track)}} Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="info-modal">
                    <br>
                    <form method="POST" onsubmit="setScroll();">
                        <input type="hidden" name="scroll" value="0" id="scrollPos9">
                    {% for key, value in track.__dict__.items() %}
                        <div class="e-div">
                            <label for="{{guild.history.index(track)}}_{{key}}" class="e-label">{{key}}</label>
                            <input type="text" id="{{guild.history.index(track)}}_{{key}}" name="{{key}}" value="{{value}}" class="e-input">
                        </div>
                    {% endfor %}
                        <div class="e-div">
                            <button class="btn e-item1 btn-secondary btn-lg btn-m" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            <button class="btn e-item1 btn-primary btn-lg btn-m" type="submit" name="edit_btn" value="h{{guild.history.index(track)}}">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% if guild.now_playing %}
    <div class="modal fade" id="videoEditModal_np" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoEditLabel_np" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoEditLabel_np">Now playing Video Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="info-modal">
                <br>
                <form method="POST" onsubmit="setScroll();">
                    <input type="hidden" name="scroll" value="0" id="scrollPos10">
                {% for key, value in guild.now_playing.__dict__.items() %}
                    <div class="e-div">
                        <label for="np_{{key}}" class="e-label">{{key}}</label>
                        <input type="text" id="np_{{key}}" name="{{key}}" value="{{value}}" class="e-input">
                    </div>
                {% endfor %}
                    <div class="e-div">
                        <button class="btn e-item1 btn-secondary btn-lg btn-m" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn e-item1 btn-primary btn-lg btn-m" type="submit" name="edit_btn" value="np">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endif %}

<!-- Modals -->
<div class="modal fade" id="joinModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="joinLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="joinLabel">Join</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="" onsubmit="setScroll();">
            <input type="hidden" name="scroll" value="0" id="scrollPos6">
            <div class="j-div">
                <label class="btn-m j-label">Channel ID</label>
                <div class="e-item2">
                    <input type="number" class="form-control" name="channel_id">
                </div>
                <button type="submit" class="btn btn-primary" name="join_btn" value="id">Join</button>
            </div>
            {% if guild.data.voice_channels %}
            <div class="j-div">
                <label class="btn-m j-label">Channel</label>
                <div class="e-item2">
                    <select class="form-select" aria-label="channel_name" name="channel_name">
                        {% for channel in guild.data.voice_channels %}
                            <option value="{{channel['id']}}">{{channel['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" name="join_btn" value="name">Join</button>
            </div>
            {% endif %}
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addToModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add to Queue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="POST" id="ytForm" action="" onsubmit="setScroll();">
            <input type="hidden" name="scroll" value="0" id="scrollPos7">
          <div class="modal-body">
              <div class="mb-3">
                  <label for="ytURL" class="btn-m">URL</label>
                  <input type="url" class="form-control" name="ytURL" id="ytURL" required>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addToModalRadio">Radio</button>
              <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="modal" id="addToModalRadio" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl r-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabelRadio">Add to Queue</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form method="POST" id="RadioForm" action="" onsubmit="setScroll();">
              <input type="hidden" name="scroll" value="0" id="scrollPos8">
            <div class="e-div e-wrap">
                <button type="button" class="btn btn-dark e-item1" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary e-item1" data-bs-toggle="modal" data-bs-target="#addToModal">Video</button>
                <!--                <button type="submit" class="btn btn-primary e-item1">Add</button>-->
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="r-cards">
                        {% for radio in radios %}
                            <div class="r-card">
                                <input type="radio" name='radio-checkbox' id="radio-checkbox{{radios.index(radio)}}" class="radio-checkbox" value="{{radio['name']}}"/>
                                <label for="radio-checkbox{{radios.index(radio)}}" onclick="submitRadioForm()">
                                    <img loading="lazy" src="/static/radio_svg/svg_radio_{{radios.index(radio)}}.svg" class="r-img">
                                </label>
                                <a class="radio-label">{{radio['name']}}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </form>
      </div>
    </div>
</div>

<script defer>
function submitRadioForm(id) {
    var form = document.getElementById('RadioForm');
    var delayInMilliseconds = 100; //0.1 second

    setTimeout(function() {
      form.submit();
    }, delayInMilliseconds);
}
function setScroll() {
    document.getElementById("scrollPos1").value = window.scrollY;
    document.getElementById("scrollPos2").value = window.scrollY;
    document.getElementById("scrollPos3").value = window.scrollY;
    document.getElementById("scrollPos4").value = window.scrollY;
    document.getElementById("scrollPos5").value = window.scrollY;
    document.getElementById("scrollPos6").value = window.scrollY;
    document.getElementById("scrollPos7").value = window.scrollY;
    document.getElementById("scrollPos8").value = window.scrollY;
    document.getElementById("scrollPos9").value = window.scrollY;
    document.getElementById("scrollPos10").value = window.scrollY;
}

window.scrollTo({ top:{{scroll_position}}, left:0, behavior: "instant"})
</script>

{% endblock %}