{% extends "base/base.html" %}

{% block head %}<title>Control Panel</title>{% endblock %}

{% block content %}

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger div-align" role="alert">
            {{error}}
        </div>
    {% endfor %}
{% endif %}


<!-- Guild -->
<div>
    <div class="div-align">
        <div class="accordion" id="accordionFlushExample">
          <div class="accordion-item">
            <div class="accordion-header">
                <div class="d-grid gap-2">
                    <a class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>{{guild.data.name}}</h2>
                    </a>
                </div>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <table class="table table-dark table-responsive table-group-divider table-borderless">
                    <thead class="table-group-divider">
                        <tr>
                            <th scope="col">Icon</th>
                            <th scope="col">Member Count</th>
                            <th scope="col">ID</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Owner ID</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="div-align">
                        <tr>
                            <td>
                                {% if guild.data.icon is not none %}
                                <img class="d-list-img" src={{guild.data.icon}} alt="Icon">
                                {% else %}
                                None
                                {% endif %}
                            </td>
                            <td>{{guild.data.member_count}}</td>
                            <td>{{guild.data.id}}</td>
                            <td>{{guild.data.owner_name}}</td>
                            <td>{{guild.data.owner_id}}</td>
                            <td>{{guild.data.created_at}}</td>
                            <td>{{guild.data.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Now and Last Playing -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="d-grid gap-2">
          <a class="btn btn-dark accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <h3>Last Played</h3>
          </a>
        </div>
      </div>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
              <div>
                {% if guild.last_played is not none %}
                <table class="table table-dark table-responsive-lg table-borderless">
                    <tr>
                        <td class="index-align"><img class="d-list-img" src="{{guild.last_played.picture}}" alt="thumbnail"></td>
                        <td>{{convert_duration(guild.last_played.duration)}}</td>
                        <td>{{guild.last_played.type}}</td>
                        <td>{{get_username(guild.last_played.author)}}</td>
                        <td><a href="{{guild.last_played.url}}">{{guild.last_played.title}}</a></td>
                        <td><a href="{{guild.last_played.channel_link}}">{{guild.last_played.channel_name}}</a></td>
                        <td>
                            <form action="#" method="POST">
                                <button class="btn btn-outline btn-success btn-sm btn-m" type="submit" name="queue_btn" value="last_played">Add to Queue</button>
                                <button class="btn btn-outline btn-success btn-sm btn-m" type="submit" name="nextup_btn" value="last_played">Next Up</button>
                            </form>
                        </td>
                    </tr>
                </table>
                {% else %}
                <div class="div-align">
                    <p>Nothing has been played yet</p>
                </div>
                {% endif %}
            </div>
          </div>
      </div>
  </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <div class="d-grid gap-2">
          <a class="btn btn-dark accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h3>Now Playing</h3>
          </a>
        </div>
      </div>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
              <div>
                {% if guild.now_playing is not none %}
                  {{guild.now_playing.renew()}}
                <table class="table table-dark table-responsive-lg table-borderless">
                    <tr>
                        <td class="index-align"><img class="d-list-img" src="{{guild.now_playing.picture}}" alt="thumbnail"></td>
                        <td>{{convert_duration(guild.now_playing.duration)}}</td>
                        <td>{{guild.now_playing.type}}</td>
                        {% if guild.now_playing.type == "Radio" %}
                            <td>{{guild.now_playing.radio_name}}</td>
                        {% endif %}
                        <td>{{get_username(guild.now_playing.author)}}</td>
                        <td><a href="{{guild.now_playing.url}}">{{guild.now_playing.title}}</a></td>
                        <td><a href="{{guild.now_playing.channel_link}}">{{guild.now_playing.channel_name}}</a></td>
                        <td>
                            <form action="#" method="POST">
                                <button class="btn btn-outline btn-success btn-sm btn-m" type="submit" name="queue_btn" value="now_playing">Add to Queue</button>
                                <button class="btn btn-outline btn-success btn-sm btn-m" type="submit" name="nextup_btn" value="now_playing">Next Up</button>
                            </form>
                        </td>
                    </tr>
                </table>
                {% else %}
                <div class="div-align">
                    <p>Nothing is playing right now</p>
                </div>
                {% endif %}
            </div>
          </div>
      </div>
  </div>
</div>

<!-- Control -->
<div class="t-cols">
    <div class="t-col div-login">
        <form action="#" method="POST">
            <div class="d-flex">
                <button class="btn btn-outline btn-success btn-sm btn-m flex-fill" type="submit" name="skip_btn">Skip</button>
                <button class="btn btn-outline btn-success btn-sm btn-m flex-fill" type="submit" name="shuffle_btn">Shuffle</button>
                <button class="btn btn-outline btn-danger btn-sm btn-m flex-fill" type="submit" name="clear_btn">Clear</button>
            </div>
        </form>
    </div>
    <div class="t-col div-login">
        <form action="#" method="POST">
            <div class="d-flex">
                <button class="btn btn-outline btn-success btn-sm btn-m flex-fill" type="submit" name="pause_btn">Pause</button>
                <button class="btn btn-outline btn-success btn-sm btn-m flex-fill" type="submit" name="resume_btn">Resume</button>
                <button class="btn btn-outline btn-danger btn-sm btn-m flex-fill" type="submit" name="stop_btn">Stop</button>
            </div>
        </form>
    </div>
    <div class="t-col div-login">
        <form action="#" method="POST">
            <div class="d-flex">
                <div class="btn-m">
                    <input type="number" class="form-c form-control btn-m flex-fill" name="volumeInput" min="0" max="200" value={{volume}} oninput="this.form.volumeRange.value=this.value" />
                </div>
                <input type="range" class="form-r form-range btn-m" name="volumeRange" min="0" max="200" value={{volume}} oninput="this.form.volumeInput.value=this.value" />
                <button class="btn btn-outline btn-primary btn-sm btn-m flex-fill" type="submit" name="volume_btn">Set</button>
            </div>
        </form>
    </div>
</div>



<!-- Queue -->
<div class="div-align">
    <h2>Queue</h2>
</div>
<form method="POST" action="#">
    <table class="table table-dark table-responsive-lg table-group-divider">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Duration</th>
            <th scope="col">Type</th>
            <th scope="col">Requested by</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
            <th scope="col">Move</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for track in guild.queue %}
            <tr>
                <td class="index-align">{{guild.queue.index(track)}}</td>
                <td><img class="d-list-img" src="{{track.picture}}" alt="thumbnail"></td>
                <td>{{convert_duration(track.duration)}}</td>
                <td>{{track.type}}</td>
                <td>{{get_username(track.author)}}</td>
                <td><a href="{{track.url}}">{{track.title}}</a></td>
                <td><a href="{{track.channel_link}}">{{track.channel_name}}</a></td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-m" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><button class="dropdown-item" type="submit" name="top_btn" value={{guild.queue.index(track)}}>Move to Top</button></li>
                        <li><button class="dropdown-item" type="submit" name="bottom_btn" value={{guild.queue.index(track)}}>Move to Bottom</button></li>
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><button class="dropdown-item" type="submit" name="play_btn" value={{index}}>Play Now</button></li>-->
                    </ul>
                    <button class="btn btn-outline btn-danger btn-sm btn-m" type="submit" name="del_btn" value={{guild.queue.index(track)}}>Remove</button>
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <button class="btn btn-dark" name="up_btn" value={{guild.queue.index(track)}}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </button>
                        <button class="btn btn-dark" name="down_btn" value={{guild.queue.index(track)}}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </button>
                    </div>
                </td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
</form>

<!-- Add Button -->
<button id="addbutton" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addToModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
    </svg>
</button>

<!-- Modal -->
<div class="modal fade" id="addToModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add to Queue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="POST" id="ytForm">
          <div class="modal-body">
              <div class="mb-3">
                  <div class="form-floating mb-3">
                      <input type="url" class="form-control" name="ytURL" id="ytURL" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" required>
                      <label for="ytURL">Youtube URL</label>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="addTo" class="col-form-label">Add to</label>
                  <div id="addTo">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="addPosition" value="start" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                              The Start
                          </label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="addPosition" value="end" id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                              The End
                          </label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>



{% endblock %}