
body {
    background-color: #313338;
    color: white;
    font-family: 'Consolas';
}

td {
    vertical-align: middle;
}

.d-list-img {
    max-width: 160px;
    max-height: 90px;
}


.index-align {
    text-align: center;
    font-size: 20px;
}

.div-align {
    text-align: center;
    padding: 1rem;
}

.nav-discord {
    background-color: #2b2d31;
}

.picker {
  margin: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #23272a;
  border-radius: 3px;
}

.picker h3 {
  text-align: center;
  padding-top: 2%;
  font-size: 1.5em;
}

.d-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.d-card {
  margin: 0.5em;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
  justify-items: center;
}

.d-card:hover {
  transform: scale(1.1);
}

.d-card img {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.d-card svg {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.green-border {
  border: 4px solid rgb(106, 255, 170);
}

.red-border {
  border: 4px solid rgb(255, 103, 90);
}

.accordion-button {
  --bs-accordion-active-bg: None;
  --bs-accordion-active-color: None;
  --bs-accordion-btn-focus-border-color: None;
  --bs-accordion-btn-focus-box-shadow: None;
}

.btn-m {
  margin: 0.2em;
}

