body {
    background-color: var(--d-g1);
    color: white;
    font-family: 'Consolas', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --d-g0: #80848d;
    --d-g1: #313338;
    --d-g2: #2b2d31;
    --d-g3: #1e1f22;
    --d-g4: #191a1d;
    --d-g5: #111214;

    --json-green: #6a8759;
    --json-green-alpha25: #6a87593F;
    --json-purple: #9876aa;

    --bs-blue: #0d6efd;
}

/*
discord colors
background : #313338
dark grey : #2b2d31
darker grey : #1e1f22
black : #111214

json colors
green : #6a8759
purple : #9876aa

*/


footer {
    margin-top: auto;
}

form {
    margin: 0;
}

td {
    vertical-align: middle;
}

pre {
    padding-top: 1rem;
    margin: 0;
    color: #6a8759;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* Bootstrap override */

.row > * {
    padding-left: 0;
    padding-right: 0;
}

.accordion-button {
    --bs-accordion-active-bg: None;
    --bs-accordion-active-color: None;
    --bs-accordion-btn-focus-border-color: None;
    --bs-accordion-btn-focus-box-shadow: None;
}

.accordion {
    --bs-accordion-bg: var(--d-g3);
    --bs-accordion-border-color: None;
}
.accordion-g2 {
    --bs-accordion-bg: var(--d-g2);
    --bs-accordion-border-color: None;
}

.btn-dark {
    --bs-btn-bg: None;
    --bs-btn-border-color: None;
}

.modal-content {
    background-color: var(--d-g2);
}

.alert {
    --bs-alert-margin-bottom: 0;
}


/* id  */

#addbutton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}


/* nav */

.user-color {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: None;
}

.nav-discord {
    background-color: var(--d-g2);
}


/* about */

.hljs-attr {
    color: #e8bf6a;
}

.hljs-comment {
    color: #999;
}

.hljs-keyword {
    color: #cc7832;
}

.code {
    border-radius: 1rem;
    background-color: var(--d-g1);
    padding: 1rem;
}

.code-div {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--d-g3);
}

.code-d {
    border-radius: 0.3rem;
    background-color: var(--d-g2);
    padding: 0.3rem;
}

.container h4 {
    margin-top: 1rem;
}


/* divs */

.div-code {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--d-g2);
}

.div-align {
    text-align: center;
}

.div-align-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-login {
    /*text-align: center;*/
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--d-g2);
}

.div-login h1 {
    margin-bottom: 3rem;
}

.div-con {
    padding: 1rem;
    margin: 0 1rem 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--d-g2);
}

.div-none {
    display: none;
}

.div-options {
    position: relative;
}

.div-file {
    white-space: pre-wrap;
    background: var(--d-g3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 5rem;
}


/* form */

.form-r {
    height: auto;
}

.form-c {
    width: auto;
}

/* margin */

.no-margin {
    margin: 0;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

/* padding*/

.no-padding {
    padding: 0;
}
.padding-1 {
    padding: 1rem;
}

/* server picker */

.picker {
    margin: 0 2rem;
    background-color: var(--d-g3);
    border-radius: 0.5rem;
}

.picker h3 {
    text-align: center;
    padding-top: 2%;
    font-size: 1.5em;
}

.d-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
}

.d-card {
    margin: 0.5em;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    justify-items: center;
    transition: transform 0.3s;
}

.d-card:hover {
    transform: scale(1.1);
}

.d-card img {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.d-card svg {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.green-border {
    border: 4px solid rgb(25, 135, 84);
}

.red-border {
    border: 4px solid rgb(220, 53, 69);
}

.yellow-border {
    border: 4px solid rgb(255, 193, 7);
}

/* color */
.c-red {
    color: rgb(220, 53, 69);
}

.c-green {
    color: rgb(25, 135, 84);
}


/* btn */

.btn-m {
    margin: 0.2rem;
}

.btn-q {
    margin: 1rem 1rem 1.5rem;
}

.btn-xxl {
    --bs-btn-padding-y: 1.5rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 2.25rem;
    --bs-btn-border-radius: 1.5rem;
    margin: 1rem;
    transition: transform 0.5s;
}

.btn-xxl:hover {
    transform: scale(1.1);
}

.btn-options {
    position: absolute;
    top: 10%;
    height: 80%;
    right: 1rem;
}

/* nav static button (refresh data) */

.nav-static-buttons {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0.7rem;
}

@media (max-width: 1400px) {
    .nav-static-buttons {
        margin: 0.7rem;
        position: inherit;
        transform: none;
    }
}


/* radio modal*/

input.radio-checkbox[type=radio] {
    display: none;
}

input.radio-checkbox[type=radio] + label {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: inline-block;
    padding: 0 0 0 0;
    margin: 1rem;
}

.radio-checkbox:checked + label img {
    border: 0.4rem solid rgb(25, 135, 84);
}

.r-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
}

.radio-label {
    margin: 0.5rem;
    color: inherit;
    text-decoration: None;
}

.r-card {
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    justify-items: center;
    transition: transform 0.3s;
}

.r-img {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.r-modal {
    --bs-modal-margin: 0;
}


/* queue */

.q-main {
    padding: 1rem;
    background-color: var(--d-g4);
}

.q-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: var(--d-g3);
}

.q-top h3 {
    margin: 0;
}

.q-top-add {
    margin-right: 2rem;
    padding: 0;
    color: var(--bs-blue);
}

.q-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    margin: 0.75rem;
    border-radius: 1rem;
    background-color: var(--d-g3);
}

.q-div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.q-history {
    margin: 0 1rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--d-g2);
}


.q-item1 {
    flex: 1 1 auto;
}

.q-item2 {
    flex: 0 0 20%;
}

.q-item3 {
    flex: 0 0 15%;
}

.q-item0 {
    flex: 0 0 auto;
}

.q-items-center {
    align-items: center;
}

.q-self-center {
    align-self: center;
}

.q-wd {
    width: 35%;
}


.q-img {
    border-radius: 0.5rem;
    display: block;
    max-width: 120px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.q-text {
    flex: 1 1 auto;
    margin-bottom: 0.4rem;
    width: auto;
    align-self: end;
}

.q-1 {
    font-size: 1.05rem;
    font-weight: 500;
    color: #fff;
}

.q-2 {
    color: #bababa;
}

.q-3 {
    color: #808080;
}


/* info modal*/

.info-modal p {
    margin-bottom: 0.5rem;
    color: var(--json-purple);
}

.v-info {
    color: var(--json-green);
    white-space: normal;
    overflow-wrap: break-word;
}


/* Edit modal */

.e-label {
    margin-bottom: 0.5rem;
    color: var(--json-purple);
    flex: 0 0 25%;
}

.e-input {
    flex: 1;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    padding: 0.375rem 0.75rem;
    background-color: var(--d-g3);
    border: 1px solid var(--d-g2);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.e-input-color {
    color: var(--json-green);
}

.e-input:focus {
    color: var(--json-green);
    background-color: var(--d-g5);
    border: 1px solid;
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--json-green-alpha25);
}

.e-input-disabled {
    color: var(--d-g1);
}


/* button row */
.e-wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

.e-div {
    display: flex;
    justify-content: space-between;
}

.e-item1 {
    flex: 1;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.e-item11 {
    flex: 1 1 auto;
}

.e-item2 {
    flex: 1 1 45%;
}


/* join modal*/

.j-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.j-label {
    flex: 0 0 20%;
}

.j-text {
    text-align: center;
    padding: 0.5rem;
    color: #808080;
}

.l-div {
    display: flex;
    justify-content: flex-start;
}

.r-div {
    display: flex;
    justify-content: flex-end;
}

.gap1 {
    gap: 1rem;
}

/* progress bar */
.p-div {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.25rem;
    background-color: #343a40;
    border-radius: 0.375rem;
}
.p-div-m {
    display: flex;
    height: 1rem;
    font-size: 0.25rem;
    border-radius: 0.375rem;
    position: relative;
    top: 1rem;
}

.p-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease;
}

.p-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 1rem;
    font-size: 1rem;
    display: none;
}

.p-ch {
    background: None;
    transition: 0.5s ease;
}
.p-ch:hover {
    background: rgba(255,255,255, 25%);
}
.p-ch:hover div {
    display: block;
}

/* discord viewer */
.dv-div1 {
    height: 100vh;
}

.dv-div {
    clear: none;
    height: 95%;
}
.dv-channels {
    background: var(--d-g3);
    float: left;
    width: 15%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-items: left;
    justify-content: left;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.dv-content {
    width: 85%;
    float: left;
    height: 100%;
    overflow-y: scroll;
}


.dv-items {
    list-style: none;
}
.dv-item {
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--d-g0)
}


/* div table */

.div-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.div-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid var(--d-g2);
}

/* vars */
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
}
.w25 {
    width: 25%;
}
.w20 {
    width: 20%;
}

.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-default {
    text-align: center;
}
.align-right {
    text-align: right;
}

.display-block {
    display: block;
}

.margin-1 {
    margin: 1rem;
}
.margin-2 {
    margin: 2rem;
}
.margin-3 {
    margin: 3rem;
}
.margin-4 {
    margin: 4rem;
}
.margin-5 {
    margin: 5rem;
}

.padding-1 {
    padding: 1rem;
}
.padding-2 {
    padding: 2rem;
}
.padding-3 {
    padding: 3rem;
}
.padding-4 {
    padding: 4rem;
}
.padding-5 {
    padding: 5rem;
}






