{% extends "base/base.html" %}

{% set title = "Admin" %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="div-align-center">
    <h1 class="btn-m">Admin</h1>
  </div>
  <div class="div-login">
    <div class="g-status-div">
      <div class="g-status-div">
        {% for key, value in hash_map.items() %}
          <p class="g-status-p">{{ key }}: <span class="g-status-span">{{ value }}</span></p>
        {% endfor %}
      </div>
      <div class="g-status-div">
        <div class="g-admin-button">
          <a href="/admin/file/" class="btn btn-success btn-lg">Browse Files</a>
        </div>
        <div class="g-admin-button">
          <a href="/admin/log" class="btn btn-primary btn-lg">Logs</a>
        </div>
      </div>
    </div>
  </div>
  <div class="picker">
    <h3>Select a server to Edit</h3>
    <br/>
    <section class="d-cards">
      {% for guild_object in guild %}
        <div class="d-card">
          <a href="/admin/guild/{{ guild_object.id }}">
            {% if guild_object.connected %}
              {% if guild_object.data.icon is not none %}
                <img loading="lazy" src="{{ guild_object.data.icon }}" class="green-border"/>
              {% else %}
                <img loading="lazy" src="/static/img/discord_icon.svg" class="green-border"/>
              {% endif %}
            {% else %}
              {% if guild_object.data.icon is not none %}
                <img loading="lazy" src="{{ guild_object.data.icon }}" class="red-border"/>
              {% else %}
                <img loading="lazy" src="/static/img/discord_icon.svg" class="red-border"/>
              {% endif %}
            {% endif %}
          </a>
          <p class="d-name">{{ guild_object.data.name }}</p>
          <p class="{{ 'd-g' if bot_status[guild_object.id] in ['Connected', 'Playing'] }}  d-status">{{ bot_status[guild_object.id] }}</p>
          <p class="d-status">{{ struct_to_time(last_played[guild_object.id]) }}</p>
        </div>
      {% endfor %}
    </section>
    <br/>
  </div>

{% endblock %}