{% extends "base/base.html" %}

{% set title = title %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  {% endif %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
  {% endif %}

  <a href="/admin" class="btn btn-primary">Return to Admin Panel</a>

  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Modified Time</th>
      <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a href="{{ url_for('getFiles', reqPath=data['parentFolder']) }}">
          <span><i class="bi bi-folder-symlink" style="margin-right:0.3em"></i>Parent Directory</span>
        </a>
      </td>
      <td></td>
      <td></td>
    </tr>
    {% for fileObj in data['files'] %}
      <tr>
        <td>
          <a href="{{ url_for('getFiles', reqPath=fileObj['relPath']) }}">
            <span><i class="{{ fileObj['fIcon'] }}" style="margin-right:0.3em"></i>{{ fileObj['name'] }}</span>
          </a>
        </td>
        <td>{{ fileObj['mTime'] }}</td>
        <td>{{ fileObj['size'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}