{% extends "base/base.html" %}

{% set title = guild_object.data.name %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ txt(session['lang'], 'Close') }}"></button>
      </div>
    {% endfor %}
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ txt(session['lang'], 'Close') }}"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="l-div div-login e-wrap">
    <div class="l-div q-item1 gap1 div-align e-wrap">
      <h2 class="no-margin q-item0 div-align-center">{{ guild_object.data.name }}</h2>
      {% if guild_object.connected %}
        <div class="q-item0 div-align-center">
          <h4 class="no-margin c-green">{{ txt(session['lang'], 'Connected') }}</h4>
        </div>
      {% else %}
        <div class="q-item0 div-align-center">
          <h4 class="no-margin c-red">{{ txt(session['lang'], 'Not Connected') }}</h4>
        </div>
      {% endif %}
      <button type="button" class="btn btn-sm btn-m q-item0 align-center" data-bs-toggle="dropdown"
              aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots"
             viewBox="0 0 16 16">
          <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
        </svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-start">
        <li>
          <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target=#infoModal>{{ txt(session['lang'], 'Info') }}</button>
        </li>
        <li>
          <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target=#guildDisconnect>{{ txt(session['lang'], 'Disconnect from Guild') }}</button>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="btn btn-outline-danger q-item0 div-align-center dropdown-item" data-bs-toggle="modal"
               data-bs-target=#guildDelete>{{ txt(session['lang'], 'Delete from Database') }}</a></li>
      </ul>
    </div>
    <div class="r-div q-item1">
      <a href="/admin" class="btn btn-primary q-item0">{{ txt(session['lang'], 'Return to Admin Panel') }}</a>
    </div>
  </div>
  <a class="btn btn-primary q-item1 div-login" href="/guild/{{ guild_object.id }}"><h3>{{ txt(session['lang'], 'Control Panel') }}</h3></a>
  <div class="l-div e-wrap">
    <a class="btn btn-dark q-item1 div-login" data-bs-toggle="modal" data-bs-target=#guildEditOptionsModal><h3>{{ txt(session['lang'], 'Edit Options') }}</h3></a>
    <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/saves"><h3>{{ txt(session['lang'], 'Saves') }}</h3></a>
    <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/chat"><h3>{{ txt(session['lang'], 'View Chat') }}</h3></a>
    <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/fastchat"><h3>{{ txt(session['lang'], 'Fast Chat') }}</h3></a>
  </div>
  <div class="q-container display-block">
    <div class="align-center">
      <h3>{{ txt(session['lang'], 'Data') }}</h3>
    </div>
    <div class="l-div e-wrap">
      <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/roles"><h4>{{ txt(session['lang'], 'List Roles') }}</h4></a>
      <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/voice_channels"><h4>{{ txt(session['lang'], 'List Voice Channels') }}</h4></a>
      <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/text_channels"><h4>{{ txt(session['lang'], 'List Text Channels') }}</h4></a>
      <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/users"><h4>{{ txt(session['lang'], 'List Users') }}</h4></a>
    </div>
  </div>

  <form onsubmit="onSubmitDisable();" action="#" method="POST">
    <div class="q-container display-block">
      <div class="align-center">
        <h3>{{ txt(session['lang'], 'Actions') }}</h3>
      </div>
      <div class="l-div e-wrap">
        <button class="btn btn-dark q-item1 div-login" type="submit" name="invite_btn"><h4>{{ txt(session['lang'], 'Create Invite') }}</h4></button>
        <a class="btn btn-dark q-item1 div-login" href="/admin/guild/{{ guild_object.id }}/invites"><h4>{{ txt(session['lang'], 'List Invites') }}</h4></a>
      </div>
    </div>
  </form>

  <div class="modal fade" id="infoModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="infoModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="infoModalLabel">{{ txt(session['lang'], 'Guild Info') }}: {{ guild_object.data.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ txt(session['lang'], 'Close') }}"></button>
        </div>
        <div class="info-modal">
          <br>
          {% for key, value in guild_object.data.__dict__.items() %}
            <div class="e-div">
              <label for="{{ key }}" class="e-label">{{ key }}</label>
              <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}" class="e-input e-input-color" readonly>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <form onsubmit="onSubmitDisable();" action="#" method="POST">
    <div class="modal fade" id="guildDelete" data-bs-keyboard="false" tabindex="-1" aria-labelledby="guildDeleteLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="guildDeleteLabel">{{ txt(session['lang'], 'Delete from Database') }} -> {{ guild_object.data.name }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="info-modal">
            <div class="e-div">
              <h4>{{ txt(session['lang'], 'Are you sure you want to delete this guild from the database?') }}</h4>
            </div>
            <div class="e-div">
              <button class="btn e-item1 btn-outline-danger btn-m" type="submit" name="delete_guild_btn">{{ txt(session['lang'], 'Delete Guild') }}
              </button>
              <button class="btn e-item1 btn-secondary btn-lg btn-m" type="button" data-bs-dismiss="modal"
                      aria-label="Close">{{ txt(session['lang'], 'Cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form onsubmit="onSubmitDisable();" action="#" method="POST">
    <div class="modal fade" id="guildDisconnect" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="guildDisconnectLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="guildDisconnectLabel">{{ txt(session['lang'], 'Disconnect from Guild') }}
              -> {{ guild_object.data.name }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="info-modal">
            <div class="e-div">
              <h4>{{ txt(session['lang'], 'Are you sure you Disconnect from this guild?') }}</h4>
            </div>
            <div class="e-div">
              <button class="btn e-item1 btn-outline-danger btn-m" type="submit" name="disconnect_guild_btn">
                {{ txt(session['lang'], 'Disconnect') }}
              </button>
              <button class="btn e-item1 btn-secondary btn-lg btn-m" type="button" data-bs-dismiss="modal"
                      aria-label="Close">{{ txt(session['lang'], 'Cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}