{% for channel in channels %}
  <div class="div-login g-channels-height">
    <div class="q-div">
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Name') }}</p>
        <p class="q-text q-2">{{ channel.name }}</p>
      </div>
    </div>
    <div class="q-div">
      <div class="q-item1">
        <p class="q-text q-1">ID</p>
        <p class="q-text q-2">{{ channel.id }}</p>
      </div>
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Created at') }}</p>
        <p class="q-text q-2">{{ channel.created_at }}</p>
      </div>
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Members') }}</p>
        <p class="q-text q-2">{{ channel.member_count }}</p>
      </div>
    </div>
    {% if channel.member_count > 0 %}
      <div class="accordion accordion-g2" id="accordion{{ channel.id }}">
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="d-grid gap-2">
              <a class="btn btn-dark accordion-button collapsed no-padding" type="button" data-bs-toggle="collapse"
                 data-bs-target="#flush-collapse{{ channel.id }}" aria-expanded="false"
                 aria-controls="flush-collapse{{ channel.id }}"
                 hx-get="/admin/guild/{{ guild_id }}/channels/htmx?type={{ channel_type }}_members&index=0&channel_id={{ channel.id }}"
                 hx-swap="outerHTML" hx-target="#accordion{{ channel.id }}_content" hx-trigger="click">
                <h4>{{ txt(session['lang'], 'Users in Channel') }}</h4>
                <div class="text-center">
                  <div class="spinner-border text-primary htmx-indicator" role="status" id="spinner{{i}}" style="width: 2rem; height: 2rem;"></div>
                </div>
              </a>
            </div>
          </div>
          <div id="flush-collapse{{ channel.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion{{ channel.id }}">
            <div id="accordion{{ channel.id }}_content">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endfor %}