{% for role in roles %}
  <div class="div-login g-roles-height">
    <div class="q-div">
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Name') }}</p>
        <p class="q-text q-2"><span style="background: rgb({{ role.color.r }},{{ role.color.g }},{{ role.color.b }}); height: 1rem; width: 1rem;"></span> {{ role.name }}</p>
      </div>
    </div>
    <div class="q-div">
      <div class="q-item1">
        <p class="q-text q-1">ID</p>
        <p class="q-text q-2">{{ role.id }}</p>
      </div>
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Created at') }}</p>
        <p class="q-text q-2">{{ role.created_at }}</p>
      </div>
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Color') }}</p>
        <p class="q-text q-2">rgb({{ role.color.r }},{{ role.color.g }},{{ role.color.b }})</p>
      </div>
      <div class="q-item1">
        <p class="q-text q-1">{{ txt(session['lang'], 'Members') }}</p>
        <p class="q-text q-2">{{ role.member_count }}</p>
      </div>
    </div>
    {% if role.member_count > 0 %}
      <div class="accordion accordion-g2" id="accordion{{ role.id }}">
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="d-grid gap-2">
              <a class="btn btn-dark accordion-button collapsed no-padding" type="button" data-bs-toggle="collapse"
                 data-bs-target="#flush-collapse{{ role.id }}" hx-target="#accordion{{ role.id }}_content"
                 aria-controls="flush-collapse{{ role.id }}" hx-trigger="click once" hx-swap="outerHTML" aria-expanded="false"
                 hx-get="/admin/guild/{{ guild_id }}/roles/htmx?role_id={{ role.id }}&type=members">
                <h4>{{ txt(session['lang'], 'Users with Role') }}</h4>
                <div class="text-center">
                  <div class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div>
                </div>
              </a>
            </div>
          </div>
          <div id="flush-collapse{{ role.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion{{ role.id }}">
            <div id="accordion{{ role.id }}_content"></div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="accordion accordion-g2" id="accordionP{{ role.id }}">
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="d-grid gap-2">
              <a class="btn btn-dark accordion-button collapsed no-padding" type="button" data-bs-toggle="collapse"
                 data-bs-target="#flush-collapseP{{ role.id }}" aria-expanded="false" hx-trigger="click once"
                 aria-controls="flush-collapseP{{ role.id }}" hx-swap="outerHTML" hx-target="#accordionP{{ role.id }}_content"
                 hx-get="/admin/guild/{{ guild_id }}/roles/htmx?role_id={{ role.id }}&type=permissions">
                <h4>{{ txt(session['lang'], 'Permissions') }}</h4>
                <div class="text-center">
                  <div class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div>
                </div>
              </a>
            </div>
          </div>
          <div id="flush-collapseP{{ role.id }}" class="accordion-collapse collapse info-modal" data-bs-parent="#accordionP{{ role.id }}">
              <div id="accordionP{{ role.id }}_content"></div>
          </div>
        </div>
      </div>
  </div>
{% endfor %}