<div class="modal-content" id="queue4Modal_content">
  <div class="modal-header">
    <nav>
      <ul class="pagination justify-content-center flex-wrap" style="margin-bottom: 0">
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue0Modal" data-bs-toggle="modal">URL</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue1Modal" data-bs-toggle="modal">Youtube</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue2Modal" data-bs-toggle="modal">TuneIn.com</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue3Modal" data-bs-toggle="modal">Radio.garden</a>
        </li>
        <li class="page-item"><a class="page-link active">Radia.cz</a></li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue5Modal" data-bs-toggle="modal">Local Files</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <div class="input-group mb-3">
      <input type="search" name="var" class="form-control" id="queue4_search" hx-target="#queue4_results"
             placeholder="{{ txt(lang, 'Search on Radia.cz') }}" hx-trigger="input changed delay:1s, search, click from:#queue4_search_button"
             hx-get="/guild/{{ gi }}/search?act=radio&key={{ key }}" hx-swap="innerHTML" hx-indicator="#queue4_spinner">
      <button class="btn btn-outline-danger" id="queue4_clear" hx-get="/guild/{{ gi }}/modals?type=queue4Modal&key={{ key }}"
       hx-trigger="click once" hx-target="#queue4Modal_content" hx-swap="outerHTML" hx-indicator="#queue4Modal_spinner">{{ txt(lang, "Cancel") }}</button>
      <button class="btn btn-outline-secondary" type="submit" id="queue4_search_button">{{ txt(lang, "Search") }}</button>
    </div>
    <div class="text-center"><div id="queue4_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
    <div id="queue4_results">
      {% for radio in radios %}
      <div class="q-container">
        <div class="q-div flex-no-wrap">
          <img loading="lazy" class="q-img" src="{{ radio['logo'] }}" alt="thumbnail" height="1rem">
          <div class="q-item1 q-wa q-self-center q-items-center"><h3>{{ radio['name'] }}</h3></div>
          <div class="q-item0 q-wa q-self-center q-items-center">
            <button class="btn btn-outline btn-primary btn-lg btn-m" type="button" data-bs-toggle="modal"
                    hx-trigger="click throttle:1s" hx-swap="outerHTML" hx-target="#q-main"
                    hx-get="/guild/{{ gi }}/queue?act=add&key={{ key }}&var=_radia_cz:{{ radio['id'] }}"
            ><h5>{{ txt(lang, 'Add') }}</h5></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{{ txt(lang, 'Close') }}</button>
{#    <button type="submit" class="btn btn-primary" id="addToModal_submit"#}
{#            hx-trigger="click throttle:1s" hx-target="#q-main" hx-swap="outerHTML"#}
{#            hx-get="/guild/{{ gi }}/queue?act=ytURL&key={{ key }}" hx-include="#ytURL" hx-validate="#ytForm"#}
{#    >{{ txt(lang, 'Add') }}</button>#}
  </div>
</div>