<div class="modal-content" id="queue1Modal_content">
  <div class="modal-header">
    <nav>
      <ul class="pagination justify-content-center flex-wrap" style="margin-bottom: 0">
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue0Modal" data-bs-toggle="modal">URL</a>
        </li>
        <li class="page-item"><a class="page-link active">YouTube</a></li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue2Modal" data-bs-toggle="modal">TuneIn.com</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue3Modal" data-bs-toggle="modal">Radio.garden</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue4Modal" data-bs-toggle="modal">Radia.cz</a>
        </li>
        <li class="page-item" style="cursor: pointer">
          <a class="page-link" data-bs-target="#queue5Modal" data-bs-toggle="modal">Local Files</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <div class="input-group mb-3">
      <input type="search" name="var" class="form-control" id="queue1_search" hx-target="#queue1_results"
             placeholder="{{ txt(lang, 'Search or YouTube URL') }}" hx-trigger="input changed delay:1s, search, click from:#queue1_search_button"
             hx-get="/guild/{{ gi }}/search?act=youtube&key={{ key }}" hx-swap="innerHTML" hx-indicator="#queue1_spinner"
             hx-include="#inlineRadio1, #inlineRadio2, #inlineRadio3, #inlineRadio4"
      >
      <button class="btn btn-outline-secondary" type="submit" id="queue1_search_button">{{ txt(lang, "Search") }}</button>
    </div>
    <div class="input-group mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sp" id="inlineRadio1" value="videos" checked>
        <label class="form-check-label" for="inlineRadio1">Only Videos</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sp" id="inlineRadio2" value="playlists">
        <label class="form-check-label" for="inlineRadio2">Only Playlists</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sp" id="inlineRadio3" value="livestreams">
        <label class="form-check-label" for="inlineRadio3">Only Livestreams</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sp" id="inlineRadio4" value="all">
        <label class="form-check-label" for="inlineRadio4">Everything (no channels)</label>
      </div>
    </div>
    <div class="spinner-div"><div id="queue1_spinner" class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div></div>
    <div id="queue1_results">
      {% for i in range(5) %}
      <div class="q-container"></div>
      {% endfor %}
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{{ txt(lang, 'Close') }}</button>
{#    <button type="submit" class="btn btn-primary" id="addToModal_submit"#}
{#            hx-trigger="click throttle:1s" hx-target="#q-main" hx-swap="outerHTML"#}
{#            hx-get="/guild/{{ gi }}/queue?act=ytURL&key={{ key }}" hx-include="#ytURL" hx-validate="#ytForm"#}
{#    >{{ txt(lang, 'Add') }}</button>#}
  </div>
</div>