{% extends "base/base.html" %}

{% set title = title %}

{% block head %}{{super()}}
<script defer src="https://unpkg.com/htmx.org@1.9.6"></script>
{% endblock %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    <div class="l-div q-self-center q-items-center">
      <div class="q-item1">
        <h1>{{ data.name }}</h1>
      </div>
      <a href="/admin/guild/{{ data.id }}" class="btn btn-primary q-item1">{{ txt(session['lang'], 'Return to Guild Dashboard') }}</a>
    </div>
  {% if channel_type == 'voice' %}
    {% if data.voice_channel_count %}
      {% for i in range(ceil(data.voice_channel_count/5)) %}
      <div class="div-login g-channels-placeholder" hx-swap="outerHTML" hx-target="this" hx-trigger="intersect once"
           hx-get="/admin/guild/{{ data.id }}/channels/htmx?type=voice_channels&index={{ i }}">
      <div class="text-center">
            <div class="spinner-border text-primary htmx-indicator" role="status" id="spinner{{i}}" style="width: 3rem; height: 3rem;"></div>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="div-login">
        <h3 class="text-center">{{ txt(session['lang'], 'No voice channels found') }}</h3>
      </div>
    {% endif %}
  {% elif channel_type == 'text' %}
    {% if data.text_channel_count %}
      {% for i in range(ceil(data.text_channel_count/5)) %}
      <div class="div-login g-channels-placeholder" hx-swap="outerHTML" hx-target="this" hx-trigger="intersect once"
           hx-get="/admin/guild/{{ data.id }}/channels/htmx?type=text_channels&index={{ i }}">
      <div class="text-center">
            <div class="spinner-border text-primary htmx-indicator" role="status" id="spinner{{i}}" style="width: 3rem; height: 3rem;"></div>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="div-login">
        <h3 class="text-center">{{ txt(session['lang'], 'No text channels found') }}</h3>
      </div>
    {% endif %}
  {% else %}
    <h1>{{ txt(session['lang'], 'Invalid channel type<') }}/h1>
  {% endif %}
  </div>
{% endblock %}