{% extends "base/base.html" %}

{% set title = title %}

{% block head %}{{super()}}
<script defer src="https://unpkg.com/htmx.org@1.9.6"></script>
{% endblock %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ txt(session['lang'], 'Close') }}"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    <div class="l-div q-self-center q-items-center">
      <div class="q-item1">
        <h1>{{ data.name }}</h1>
      </div>
      <a href="/admin/guild/{{ data.id }}" class="btn btn-primary q-item1">{{ txt(session['lang'], 'Return to Guild Dashboard') }}</a>
    </div>
    {% if data.role_count %}
      {% for i in range(ceil(data.role_count/5)) %}
      <div class="div-login g-roles-placeholder" hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML"
           hx-get="/admin/guild/{{ data.id }}/roles/htmx?index={{ i }}&type=role">
        <div class="text-center">
          <div class="spinner-border text-primary htmx-indicator" role="status" style="width: 2rem; height: 2rem;"></div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="div-login">
        <h3 class="text-center">{{ txt(session['lang'], 'No roles found') }}</h3>
      </div>
    {% endif %}
  </div>

{% endblock %}