{% extends "base/base.html" %}

{% set title = title %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    <div class="l-div q-self-center q-items-center">
      <div class="q-item1">
        <h1>{{ guild_object.data.name }}</h1>
      </div>
      <a href="/admin/guild/{{ guild_object.id }}" class="btn btn-primary q-item1">Return to Guild Dashboard</a>
    </div>
    {% if invites %}
      {% for invite in invites %}
        <div class="div-login">
          <div class="q-div">
            <div class="q-item1">
              <p class="q-text q-1">URL</p>
              <p class="q-text q-2">{{ invite.url }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">ID</p>
              <p class="q-text q-2">{{ invite.id }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">Created at</p>
              <p class="q-text q-2">{{ invite.created_at }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">Expires at</p>
              <p class="q-text q-2">{{ invite.expires_at }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">Max Age</p>
              <p class="q-text q-2">{{ invite.max_age }}</p>
            </div>
          </div>
          <div class="q-div">
            <div class="q-item1">
              <p class="q-text q-1">Temporary</p>
              <p class="q-text q-2">{{ invite.temporary }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">AP Member Count</p>
              <p class="q-text q-2">{{ invite.approximate_member_count }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">AP Presence Count </p>
              <p class="q-text q-2">{{ invite.created_at }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">Uses</p>
              <p class="q-text q-2">{{ invite.uses }}</p>
            </div>
            <div class="q-item1">
              <p class="q-text q-1">Max Uses</p>
              <p class="q-text q-2">{{ invite.max_uses }}</p>
            </div>
          </div>
          {% if invite.inviter %}
            {% if type(invite.inviter) == DiscordUser %}
              <div class="accordion accordion-g2" id="accordion{{ invite.id }}">
                <div class="accordion-item">
                  <div class="accordion-header">
                    <div class="d-grid gap-2">
                      <a class="btn btn-dark accordion-button collapsed no-padding" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ invite.id }}" aria-expanded="false"
                         aria-controls="flush-collapse{{ invite.id }}">
                        <h4>Invite by</h4>
                      </a>
                    </div>
                  </div>
                  <div id="flush-collapse{{ invite.id }}" class="accordion-collapse collapse"
                       data-bs-parent="#accordion{{ invite.id }}">
                    <div class="q-container">
                      <div class="q-div">
                        <img loading="lazy" class="q-img" src="{{ invite.inviter.avatar }}" alt="User Avatar">
                        <div class="q-item1">
                          <p class="q-text q-1">Name</p>
                          <p class="q-text q-2">{{ invite.inviter.name }} #{{ invite.inviter.discriminator }}</p>
                        </div>
                        <div class="q-item1">
                          <p class="q-text q-1">ID</p>
                          <p class="q-text q-2">{{ invite.inviter.id }}</p>
                        </div>
                        <div class="q-item1">
                          <p class="q-text q-1">Joined at</p>
                          <p class="q-text q-2">{{ invite.inviter.joined_at }}</p>
                        </div>
                        <div class="q-item1">
                          <p class="q-text q-1">Status</p>
                          {% if invite.inviter.status == 'online' %}
                            <p class="q-text c-green">{{ invite.inviter.status }}</p>
                          {% elif invite.inviter.status == 'offline' %}
                            <p class="q-text c-red">{{ invite.inviter.status }}</p>
                          {% else %}
                            <p class="q-text q-2">{{ invite.inviter.status }}</p>
                          {% endif %}
                        </div>
                        <div class="q-item0">
                          <p class="q-text q-1">Get Full Info</p>
                          <p class="q-text"><a class="btn btn-primary" href="/admin/user/{{ invite.inviter.id }}">Full
                            Info</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div>
                <p class="q-text q-1">Invite by</p>
                <p class="q-text q-2">{{ invite.inviter }}</p>
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <div class="div-login">
        <h3 class="text-center">No Invites found</h3>
      </div>
    {% endif %}
  </div>

{% endblock %}