{% extends "base/base.html" %}

{% set title = title %}

{% block head %}{{super()}}
<script defer src="https://unpkg.com/htmx.org@1.9.6"></script>
<link rel="stylesheet" href="/static/discord/style.css">
{% endblock %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="l-div e-wrap align-left div-login">
    <div class="q-item1">
      <h3>Users in: {{ data.name }}</h3>
    </div>
    <div class="q-item1">
      <h3>Users: {{ data.member_count }}</h3>
    </div>
    <a class="btn btn-primary q-item1 div-align-center" href="/admin/guild/{{ data.id }}">Return to Guild Dashboard</a>
  </div>

  <div class="g-users-container e-wrap">
    {% if data.member_count %}
      {% for i in range(ceil(data.member_count/5)) %}
      <div class="q-container q-item1 g-users-placeholder"
           hx-get="/admin/guild/{{ data.id }}/users/htmx?index={{ i }}"
           hx-swap="outerHTML" hx-target="this" hx-trigger="intersect once">
            <div class="text-center">
            <div class="spinner-border text-primary htmx-indicator" role="status" id="spinner{{i}}" style="width: 3rem; height: 3rem;"></div>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="q-item1">
        <h3>No users found</h3>
      </div>
    {% endif %}
  </div>

{% endblock %}