{% extends "base/base.html" %}

{% set title = "Admin" %}

{% block content %}
  {% if errors %}
    {% for error in errors %}
      <div class="alert alert-danger div-align alert-dismissible fade show sticky-top" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success div-align alert-dismissible fade show sticky-top" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}


  <form action="#" method="POST">
    <div class="div-align-center">
      <h1 class="btn-m">Admin</h1>
    </div>
    <div class="div-login">
      <div class="row row-cols-lg-auto gap1 div-align-center">
        <div class="col-12">
          <h3>Files</h3>
        </div>
        <div class="col-12 btn-m">
          <select class="form-select btn-m" aria-label="Default select example" name="download_file" id="download_file">
            <option selected value="log.log">log.log</option>
            <option value="guilds.json">guilds.json</option>
            <option value="other.json">other.json</option>
            <option value="radio.json">radio.json</option>
            <option value="languages.json">languages.json</option>
            <option value="data.log">data.log</option>
            <option value="activity.log">activity.log</option>
            <option value="apache_activity.log">apache_activity.log</option>
            <option value="apache_error.log">apache_error.log</option>
          </select>
        </div>
        <div class="col-12 btn-m">
          <button type="submit" class="btn btn-primary btn-m" name="download_btn">Download</button>
        </div>
        <div class="col-12 btn-m">
          <input type="file" class="form-control btn-m" id="upload_file" name="file">
        </div>
        <div class="col-12 btn-m">
          <button type="submit" class="btn btn-primary btm-m" name="upload_btn">Upload</button>
        </div>
        <div class="col-12 btn-m">
          <a href="/admin/file/" class="btn btn-success btn-m">Browse Files</a>
        </div>
      </div>
    </div>
    <div class="div-login">
      <div class="row row-cols-lg-auto g-3">
        <div class="col-12">
          <h3>Options</h3>
        </div>
      </div>
    </div>
    <div class="picker">
      <h3>Select a server to Edit</h3>
      <br/>
      <section class="d-cards">
        {% for guild_object in guild %}
          <div class="d-card">
            <a href="/admin/guild/{{guild_object.id}}">
              {% if guild_object.connected %}
                {% if guild_object.data.icon is not none %}
                  <img loading="lazy" src="{{guild_object.data.icon}}" class="green-border"/>
                {% else %}
                  <img loading="lazy" src="/static/img/discord_icon.svg" class="green-border"/>
                {% endif %}
              {% else %}
                {% if guild_object.data.icon is not none %}
                  <img loading="lazy" src="{{guild_object.data.icon}}" class="red-border"/>
                {% else %}
                  <img loading="lazy" src="/static/img/discord_icon.svg" class="red-border"/>
                {% endif %}
              {% endif %}
            </a>
            <br/>
            {{ guild_object.data.name }}
          </div>
        {% endfor %}
      </section>
      <br/>
    </div>
  </form>
  <br><br>
{% endblock %}