{% extends "base/base.html" %}

{% set title = "Server List" %}

{% block content %}
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger div-align alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="div-align">
  <h2>The Bot is in: {{len(guild)}} servers</h2>
</div>
<div class="picker">
  <h3>Please select a server to get started</h3>
  <br/>
  <section class="d-cards">
    {% for guild_object in guild %}
    <div class="d-card">
      <a href="/guild/{{guild_object.data.id}}">
          {% if guild_object.data.id in mutual_guild_ids %}
            {% if guild_object.data.icon is not none %}
              <img loading="lazy" src="{{guild_object.data.icon}}" class="green-border" />
            {% else %}
              <img loading="lazy" src="/static/img/discord_icon.svg" class="green-border" />
            {% endif %}
          {% else %}
            {% if guild_object.data.icon is not none %}
              <img loading="lazy" src="{{guild_object.data.icon}}" class="red-border" />
            {% else %}
              <img loading="lazy" src="/static/img/discord_icon.svg" class="red-border" />
            {% endif %}
          {% endif %}
      </a>
      <br/>
      {{ guild_object.data.name }}
    </div>
    {% endfor %}
  </section>
    <br/>
</div>
<div class="div-align">
    <h2>Your server not here? <a href="/invite" class="btn btn-primary btn-lg">Invite the bot</a></h2>
</div>

{% endblock %}