{% extends "base/base.html" %}

{% set title = "Server List" %}

{% block content %}
  <div class="div-align margin-1">
    <h2>{{ txt(session['lang'], 'The Bot is in') }}: {{ guilds | sum(attribute='connected') }} {{ txt(session['lang'], 'servers') }}</h2>
  </div>
  <div class="picker">
    <h3>{{ txt(session['lang'], 'Please select a server to get started' )}}</h3>
    <br/>
    <section class="d-cards">
      {% for guild_object in guilds %}
        {% set icon = guild_object.data.icon if guild_object.data.icon is not none else "/static/img/discord_icon.svg" %}
        {% set id = guild_object.data.id %}
        <div class="d-card">
          <a href="/guild/{{id}}">
            {% if guild_object.connected %}
              {% if id in allowed_guilds %}
                <img loading="lazy" src="{{icon}}" class="green-border" alt=""/>
              {% else %}
                <img loading="lazy" src="{{icon}}" class="yellow-border" alt=""/>
              {% endif %}
            {% else %}
              {% if id in allowed_guilds %}
                <img loading="lazy" src="{{icon}}" class="orange-border" alt=""/>
              {% else %}
                <img loading="lazy" src="{{icon}}" class="red-border" alt=""/>
              {% endif %}
            {% endif %}
          </a>
          <br/>
          {{ guild_object.data.name }}
        </div>
      {% endfor %}
    </section>
    <br/>
  </div>
  <div class="div-align margin-2">
    <h2>{{ txt(session['lang'], 'Your server is not here?') }} <a href="/invite" class="btn btn-primary btn-lg">{{ txt(session['lang'], 'Invite the bot' ) }}</a></h2>
  </div>
  <br><br>
{% endblock %}