{% extends "base/base.html" %}

{% set title = "Home" %}

{% block content %}
  <div class="container">
    <div class="div-align-center e-div e-wrap">
      <a class="btn btn-secondary btn-xxl e-item2" href="/guild">Show Servers</a>
      <a class="btn btn-primary btn-xxl e-item2" href="/login">Login</a>
    </div>

    <h1>Commands</h1>
    <div class="e-div e-wrap">
      <div class="e-item2 code-div">
        <h4>General</h4>
        <span class="code-d">/help</span> - Shows this message<br>
        <span class="code-d">/ping</span> - This command returns the latency<br>
        <span class="code-d">/language</span> - Change the language for this server<br>
        <span class="code-d">/sound_ effects</span> - Shows all available sound effects<br>
        <span class="code-d">/list_radios</span> - Shows all available radios<br>
        <span class="code-d">/key</span> - Shows the key for the server<br>
      </div>
      <div class="e-item2 code-div">
        <h4>Player</h4>
        <span class="code-d">/play</span> - Plays the songs :)<br>
        <span class="code-d">/radio</span> - Plays radio from list<br>
        <span class="code-d">/ps</span> - Plays sound effects by number<br>
        <span class="code-d">/skip</span> - Skip song in queue<br>
        <span class="code-d">/nowplaying</span> - Shows what is playing right now<br>
        <span class="code-d">/last</span> - Shows the last song played<br>
        <span class="code-d">/loop</span> - Turn on loop mode<br>
        <span class="code-d">/loop_this</span> - This command loops currently playing song<br>
      </div>
      <div class="e-item2 code-div">
        <h4>Queue</h4>
        <span class="code-d">/queue</span> - Add song to queue<br>
        <span class="code-d">/remove</span> - Removes song from queue<br>
        <span class="code-d">/clear</span> - Clears the queue<br>
        <span class="code-d">/shuffle</span> - Shuffles the queue<br>
        <span class="code-d">/show</span> - Shows the queue<br>
        <span class="code-d">/search</span> - Search youtube for the provided query<br>
      </div>
      <div class="e-item2 code-div">
        <h4>Voice</h4>
        <span class="code-d">/stop</span> - Stop the player<br>
        <span class="code-d">/pause</span> - Pause the player<br>
        <span class="code-d">/resume</span> - Resume the player<br>
        <span class="code-d">/join</span> - Bot joins voice channel<br>
        <span class="code-d">/disconnect</span> - Bot leaves voice channel<br>
        <span class="code-d">/volume</span> - Set the volume of the player<br>
      </div>
      <div class="e-item2 code-div">
        <h4>Context Menu</h4>
        Add to queue - Add song to queue<br>
        Show Profile - Shows all available information about the profile<br>
      </div>
    </div>
  </div>
  <br><br>
{% endblock %}